<style  scoped>
.banner{
    width: 100%;
    height: 115px;
}
.banner .hearder{
    width: 100%;
    height: 27px;
    background: #f0f0f0;
}
.banner .hearder .hearder-a{
    width: 1200px;
    margin: 0 auto;
}
.banner .hearder .hearder-a span{
    float: left;
}
.banner .hearder .hearder-a ul{
    float: right;
}
.banner .hearder .hearder-a ul li{
    margin-left: 20px;
    float: left;
}
.banner .warrp{
    width: 100%;
    height: 100px;
    background: #4ab300;
}
.banner .content-a{
    width: 980px;
    height: 550px;
    border: 1px solid #ededed;
    margin: 0 auto;
}
.banner .content-a span{
    display: block;
    margin-top: 30px;
    margin-left: 50px;
}
.banner .content-a .ivu-steps{
    margin-top: 100px;
    margin-left: 100px;
}
.banner .content-a .content-b{
    margin-left: 140px;
    

}
.banner .content-a .content-b ul{
    padding-top: 40px;
}
.banner .content-a .content-b ul li{
    line-height: 70px;
}
.banner .content-a .content-b ul li input{
    width: 187px;
    height: 36px;
}
.banner .content-a .content-b ul li button{
    width: 105px;
    height: 36px;
    margin-left:20px;
    outline: none;
    border: 1px solid #cecece;
    background: #f4f3f3;
    line-height: 0;
}
.banner .content-a .content-b ul .spray button{
    width: 100px;
    height: 42px;
    border: 1px solid #bfd6af;
    background: #eff8e8;
    margin-left: 95px;
}
</style>
<template>
<div>
     <div class="banner">
        <div class="hearder">
            <div class="hearder-a">
                <span>店铺首页</span>
                <ul>
                    <li>Hi,xiaoxiao</li>
                    <li>我的订单</li>
                    <li>购物车</li>
                    <li>我的主页</li>
                </ul>
            </div>
        </div>
        <div class="warrp">

        </div>
        <div class="content-a">
            <span>修改登录密码</span>
            <Steps :current="0">
                <Step title="" content="身份验证"></Step>
                <Step title="" content="修改登录密码"></Step>
                <Step title="" content="完成"></Step>
            </Steps>
            <div class="content-b">
                <ul>
                    <li>已验证手机：188*****990</li>
                    <li>填写验证码：<input type="text"><button>获取验证码</button></li>
                    <li class="spray"><button>提交</button></li>
                </ul>
                
            </div>
        </div>
    </div>
</div>
   
</template>
<script>
export default {
    
}
</script>
