<style  scoped>
.banner{
    width: 100%;
    height: 115px;
}
.banner .hearder{
    width: 100%;
    height: 27px;
    background: #f0f0f0;
}
.banner .hearder .hearder-a{
    width: 1200px;
    margin: 0 auto;
}
.banner .hearder .hearder-a span{
    float: left;
}
.banner .hearder .hearder-a ul{
    float: right;
}
.banner .hearder .hearder-a ul li{
    margin-left: 20px;
    float: left;
}
.banner .warrp{
    width: 100%;
    height: 100px;
    background: #4ab300;
}
.banner .content-a{
    width: 980px;
    height: 550px;
    border: 1px solid #ededed;
    margin: 0 auto;
}
.banner .content-a span{
    display: block;
    margin-top: 30px;
    margin-left: 50px;
}
.banner .content-a .ivu-steps{
    margin-top: 100px;
    margin-left: 120px;
}
.banner .content-a .content-b{
    margin-left: 140px;
}
.banner .content-a .content-b .content-c{
    width: 190px;
    height: 54px;
    /* border: 1px solid #4ab300; */
    margin: 0 auto;
    margin-top: 100px;
    margin-right: 410px;
}
.banner .content-a .content-b .content-c ul{
    float: left;
    margin-left: 25px;
    font-size: 14px;
}
.banner .content-a .content-b .content-c img{
    float: left;
}
</style>
<template>
<div>
     <div class="banner">
        <div class="hearder">
            <div class="hearder-a">
                <span>店铺首页</span>
                <ul>
                    <li>Hi,xiaoxiao</li>
                    <li>我的订单</li>
                    <li>购物车</li>
                    <li>我的主页</li>
                </ul>
            </div>
        </div>
        <div class="warrp">

        </div>
        <div class="content-a">
            <span>修改登录密码</span>
            <Steps :current="2">
                <Step title="" content="身份验证"></Step>
                <Step title="" content="修改登录密码"></Step>
                <Step title="" content="完成"></Step>
            </Steps>
            <div class="content-b">
                <div class="content-c">
                  <img src="/static/images/gou.png">
                  <ul>
                      <li>新密码设置成功!</li>
                      <li>请您牢记新密码</li>
                  </ul>
                </div>   
            </div>
        </div>
    </div>
</div>
   
</template>
<script>
export default {
    
}
</script>
