<style scoped>
	
	*{
		margin: 0;
		padding: 0;
		color: white;
	}
	.management{
		width: 1200px;
		height: 100px;
		/*border: 1px solid red;*/
		margin: 0 auto;
	}
	.management .management-c{
		width: 403px;
		height: 100px;
		/*border: 1px solid red;*/
		background: #43A449;
	}
	.management .management-a{
		width: 360px;
		height: 100px;
		color: #FFFFFF;
		position: absolute;
	}
	.management .management-a img{
		width: 110px;
		height: 97px;
		background: #FFFFFF;
		float: left;
	}
	.management .management-a .management-b h4,p{
		margin-left: 150px;
		font-size: 30px;
	}
	.management .management-a .management-b h4{
		margin-top: 3px;
	}
	.management .management-a .management-b p{
		margin-left: 170px;
	}
	.management .management-a input{
		position: relative;
		margin-bottom: 0px;
		margin-left: 100px;
	}
	.management .content_a{
		height: 1500px;
		/*border: 1px solid red;*/
	}
	.management .content_a .content_b{
		width: 384px;
		height: 1000px;
		background: #43A449;
		/*border: 1px solid blue;*/
		float: left;
	}
	.management .content_a .ccontent_c{
		width: 816px;
		height: 1000px;
		/*border: 1px solid black;*/
		background: #F1F1F1;
		float: right;
	}
	.management .content_a .content_b ul{      
          width: 200px;      
          height: auto;   
      } 
     .management .content_a .content_b h2{      
          background: green;      
          /*border: 1px solid #fff;*/      
          color: #fff;      
          height: 30px;      
          line-height: 30px;      
          text-indent: 24px;    
      }  
 
      .management .content_a .content_b h3{      
          background: #999;      
          height: 24px;      
          line-height: 24px;      
         /*border: 1px solid #fff;*/      
          text-indent: 50px;    
     }   
     .ivu-menu-vertical.ivu-menu-light:after{
     	width: 0px;
     }
     .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not{
     	color: #43A449;
     	border: none;
     }
     .ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover{
     	background: none;
     }
     .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
     	color: black;
     }
     .ivu-menu-submenu:hover{
     	background:#43A449 ;
     }
     .ccontent_c .content_d .ivu-btn, .ivu-btn:active, .ivu-btn:focus{
     	width: 70px;
     	height: 35px;
     	background: #E2DDDD;
     	color: #000000;
     	border:1px solid  #43A449;
     	border-radius: 10px;
     	margin-top: 20px;
     	margin-left: 30px;
     }
     .ivu-input-icon+.ivu-input{
     	height: 35px;
     	width: 180px;
     	margin-left: 200px;
     	margin-top: 20px;
     	background: #E2DDDD;
     }
     .ccontent_c .content_d .content-btn{
     	margin-left: 100px;
     }
     .content_f .ivu-table .ivu-table-border{
     	width:810px;
     }
     .ivu-table-border td, .ivu-table-border th{
     	width: 80px;
     }
</style>
<template>
	<div class="management">
		<div class="management-c">
			<!--头部-->
			<div class="management-a">
				<img src="../../../static/images/20180525150005.png"/>
				<span class="management-b">
					<h4>SHAN&nbsp;YUAN</h4>
					<p>善缘商城</p>
				</span>
			</div>	
		</div>	
		<!--内容-->
		<div class="content_a">
				<!--左边菜单部分-->
				<div class="content_b">
					 <Row>
				        <Col span="8">
				            <Menu :theme="theme2" style="width: 380px;background: #43A449;">
				                <Submenu name="1">
				                    <template slot="title"  @mouseleave="leave" style="color: #FFFFFF;">    
				                        商品管理
				                    </template>
				                    <MenuItem name="1-1">商品审核</MenuItem>
				                </Submenu>
				                <Submenu name="2">
				                    <template slot="title" style="color: #FFFFFF;">    
				                        商品分类
				                    </template>
				                    <MenuItem name="2-1">新增</MenuItem>
				                    <MenuItem name="2-2">修改</MenuItem>
				                    <MenuItem name="2-3">删除</MenuItem>
				                    <MenuItem name="2-4">查询</MenuItem>
				                </Submenu>
				                <Submenu name="3">
				                    <template slot="title">
				                        
				                        用户管理
				                    </template>
				                        <MenuItem name="3-1">供应商管理</MenuItem>
				                        <MenuItem name="3-2">普通供应商管理</MenuItem>
				                </Submenu>
				                <Submenu name="4">
				                    <template slot="title">    
				                        系统管理
				                    </template>
				                    <MenuItem name="1-1">文章管理</MenuItem>
				                    <MenuItem name="1-2">评论管理</MenuItem>
				                    <MenuItem name="1-3">举报管理</MenuItem>
				                </Submenu>
				                <Submenu name="5">
				                    <template slot="title">    
				                        评价管理
				                    </template>
				                    <MenuItem name="1-1">文章管理</MenuItem>
				                    <MenuItem name="1-2">评论管理</MenuItem>
				                    <MenuItem name="1-3">举报管理</MenuItem>
				                </Submenu>
				                <Submenu name="6">
				                    <template slot="title"> 
				                        日志
				                    </template>
				                    <MenuItem name="1-1">文章管理</MenuItem>
				                    <MenuItem name="1-2">评论管理</MenuItem>
				                    <MenuItem name="1-3">举报管理</MenuItem>
				                </Submenu>
				            </Menu>
				        </Col>
				    </Row>
				    <br>
				</div>
				<!--右边部分-->
				<div class="ccontent_c">
					<div class="content_d">
						    <Button type="primary" @click="modal1 = true">新增</Button>
						    <Modal
						        v-model="modal1"
						        title="新增用户"
						        
						        <!--<p>Content of dialog</p>
						        <p>Content of dialog</p>
						        <p>Content of dialog</p>-->
						    </Modal>
						    <Button type="primary" @click="modal1 = true">删除</Button>
						    <Modal
						        v-model="modal1"
						        title="提示"
						        @on-ok="ok"
						        @on-cancel="cancel">
						        <p>删除成功</p>
						    </Modal>
						    <Button type="primary" @click="modal1 = true">修改</Button>
						    <Modal
						        v-model="modal1"
						        title="提示"
						        @on-ok="ok"
						        @on-cancel="cancel">
						        <p>Content of dialog</p>
						        <p>Content of dialog</p>
						        <p>Content of dialog</p>
						    </Modal>
						    <Input v-model="value" placeholder="请输入关键字" style="width: 300px"></Input>
						    <Button class="content-btn">查询</Button>
					</div>
					<div class="content_f">
						<Table border :columns="columns6" :data="data5"></Table>
					</div>
				</div>
			</div>
	</div>
</template>

<script>
	  export default {
        data () {
            return {
                theme2: 'light',
                value:'',
                modal1: false,
                methods: {
		            ok () {
		                this.$Message.info('Clicked ok');
		            },
		            cancel () {
		                this.$Message.info('Clicked cancel');
		            }
		        },
                columns6: [
                    {
                        title: '选择',
                        key: 'date'
                    },
                    {
                        title: '用户名',
                        key: 'name'
                    },
                    {
                        title: '角色',
                        key: 'age',
                    },
                    {
                        title: '会员类型',
                        key: 'address',
                    },
                    {
                        title: '状态（启用/禁用）',
                        key: 'address',
                    },
                    {
                        title: '最后修改时间',
                        key: 'address',
                    }
                   ],
                        
                data5: [
                    {
                        name: '张三',
                        age: '会员',
                        address: '加盟店',
                        date: ''
                    },
                    {
                        name: '李四',
                        age: '管理员',
                        address: '-',
                        date: ''
                    },
                    {
                        name: '王五',
                        age: '会员',
                        address: '消费会员',
                        date: ''
                    },
                    {
                        name: '赵六',
                        age: '会员',
                        address: 'VIP会员',
                        date: ''
                    },
                    {
                        name: '鬼脚七',
                        age: '会员',
                        address: '普通会员',
                        date: ''
                    }
                ],
            }
        }
   }
</script>

<style>
</style>
