<style scoped>
*{
  padding: 0px;
  margin: 0px;
}
.layout-footer-center{
    text-align: center;
    font-size:14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
</style>
<template>
  <Footer class="layout-footer-center">2011-2016 &copy; TalkingData</Footer>
</template>
