<style scoped>
.header {
  height: 83px;
  padding: 0px;
  background: #ffffff;
  border-bottom: 1px solid #cbcbcb;
}
#nev {
  width:85%;
  height: 54px;
  position: relative;
  top: 16px;
  margin:auto;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  float: left;
}
.nev-span {
  font-size: 12px;
  float: right;
  margin-top: -25px;
}
.nev-span a {
  color: #ff7700;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 55px;
  font-size:16px;
  font-weight:bold;
  float:left;
}
</style>
<template>
  <Header class="header">
    <div id="nev">
      <a class="nev-logo"></a>
      <span id="nev_vlues">{{ nev_vlues }}</span>
      <span id="nev_span_vlues" class="nev-span">{{ nev_span_vlues }}<router-link :to="links.Login">请登录</router-link></span>
      </div>
   </Header>
</template>
<script>
export default {
  data: function () {
    return {
      links: {
        Login: '/Login'
      }
    }
  },
  props: ['nev_vlues', 'nev_span_vlues']
}
</script>
