<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
.nan-div{
 min-width: 1200px;
 height:105px;
}
.nan-div-a{
  min-width: 1200px;
  background-color: #F0F0F0;
}
.nan-div-b{
  width: 1200px;
  margin: auto;
  font-size: 14px;
}
.nan-div-b a{
  color: #787878;
  padding:0px 4px 0px 6px;
}
.nan-a{
  float: right;
}
.nan-span {
  border-left: 1px solid #787878;
}
.nan-div-c{
  width: 100%;
  height: 85px;
  margin: 0px auto;
  background-color: var(--Colors);
  overflow: hidden;
}
.nan-div-c a{
  color: #fff;
}
.nan-div-d{
  width: 1200px;
  height: 54px;
  margin: 0px auto;
  margin-top: 15px;
}
.nan-div-e{
  float: left;
}
.nan-div-f{
  float: left;
  height: 54px;
  line-height: 54px;
  margin-left: 80px;
  background-color: var(--Colors);
}
.nan-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/bai_logo.png");
  background-repeat: no-repeat;
  float: left;
}
#nan_vlues{
  margin-left: 10px;
  line-height: 55px;
  font-size:20px;
  float:left;
}
.nan_div-a{
  margin-right: 60px;
}
.nan-div-g{
  float: left;
  margin-left:430px;
  margin-top: 7px;
}
.nev-input {
  width: 335px;
  height: 40px;
  font-size: 14px;
  float: left;
  padding-left: 10px;
  border:0px;
  border-right:none;
  border-radius: 5px 0px 0px 5px;
  outline:none;
  }
.content-form-button {
  width: 50px;
  height: 40px;
  background: #E5E5E5;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  float: left;
  outline:none;
}
.content-form-button a{
  display: block;
  width: 50px;
  height: 40px;;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  font-size: 14px;
  color: #000;
  line-height: 40px;
  float: left;
  outline:none;
}
</style>
<template>
<div class="nan-div">
  <div class="nan-div-a">
    <div class="nan-div-b">
      <a>店铺首页</a>
      <span class="nan-a">
      <a>Hi,xiaoxiao</a>
      <a class="nan-span">我的订单</a>
      <a class="nan-span">购物车</a>
      <a class="nan-span nan-aa">我的主页</a>
      </span>
    </div>
  </div>
  <!--header结束-->
  <div class="nan-div-c">
    <div class="nan-div-d">
      <div class="nan-div-e">
        <a class="nan-logo"></a>
        <a id="nan_vlues">{{nev_vlues}}</a>
      </div>
      <div class="nan-div-f">
        <a class="nan_div-a">首页</a>
        <a class="nan_div-b">账户设置</a>
      </div>
      <div class="nan-div-g">
        <input class="nev-input" size="large" v-model="username" placeholder="请输入搜索内容"></input>
        <button class="content-form-button" type="primary" @click="next()"><a>搜索</a></button>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  data: function () {
    return {
      links: {
        Login: '/Login'
      },
      username: ''
    }
  },
  props: ['nev_vlues', 'nev_span_vlues'],
  methods: {
    next () {
      console.info = this.Sex
    }
  }
}
</script>
