<style scoped>
*{
  margin: 0px;
  padding: 0px;
}
/* Form表单输入框描述 */
input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.header {
  width: 1400px;
  height: 134px;
  background: #fff;
  margin-bottom: 85px;
  margin: auto;
}
#title{
  width: 1400px;
  height: 25px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #ff7700;
  text-align: right;
}
.title-span{
  margin: auto;
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 27px
}
.nev-span a {
  color: #ff7700;
}
#nev {
  width:1200px;
  height: 54px;
  margin:auto;
  margin-top: 24px;
 }
 .nev-a{
   float: left;
   width: 140px;
   height: 54px;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  float: left;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 55px;
  font-size:16px;
  font-weight:bold;
  float:left;
}
.nev-b{
   width: 570px;
   height: 54px;
   float: right;
   line-height: 0px;
}
.nev-input {
  border: 1px solid #4AB300;
  width: 350px;
  height: 32px;
  font-size: 14px;
  margin-top: 10px;
  float: left;
  outline:none;
  padding-left: 10px;
  }
.content-form-button {
  border-radius: 0px;
  width: 60px;
  height: 32px;
  background:#4AB300;
  border: 0px;
  font-size: 12px;
  margin-top: 10px;
  float: left;
}
.cf-btn{
  width: 150px;
  background: #fff;
  border: 1px solid #4AB300;
  color: #000;
  border-radius:3px;
  margin-left: 10px;
  padding-left: 30px;
  background: url("/static/images/gouwuche.png") no-repeat left;
  background-position:20px 5px;
}
.btn-span{
  color: #4AB300;
}
</style>
<template>
  <Header class="header">
    <div id="title">
      <div class="title-span">
      <span id="nev_span_vlues" class="nev-span">{{ nev_span_vlues }}<a>xiaoxiao</a></span>
      </div>
    </div>
    <div id="nev">
      <div class="nev-a">
        <a class="nev-logo"></a>
        <span id="nev_vlues">{{ nev_vlues }}</span>
       </div>
      <div class="nev-b">
        <input class="nev-input" v-model="form.username" placeholder="请输入搜索内容"></input>
        <Button class="content-form-button" type="primary" @click="next">搜索</Button>
        <Button class="content-form-button cf-btn" type="primary" @click="next">购物车&nbsp;(&nbsp;<span class="btn-span">{{number}}</span>&nbsp;)&nbsp;件</Button>
       </div>
     </div>
   </Header>
</template>
<script>
export default {
  data: function () {
    return {
      number: 0,
      form: {username: ''}
    }
  },
  props: ['nev_vlues', 'nev_span_vlues'],
  methods: {
    next () {
    }
  }
}
</script>
