<style scoped>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
.header {
  height: 83px;
  padding: 0px;
  background: #ffffff;
}
#tmnev {
  min-width:1200px;
  height: 54px;
  margin:auto;
 }
.nan-div-a{
  min-width: 1200px;
}
.nan-div-a:after{
  content: "";
  display: table;
  clear: both;
}
.ivu-layout-header{
  line-height: 20px;
}
.nan-div-b{
  width: 1200px;
  margin: auto;
  font-size: 14px;
}
.nan-div-b a{
  color: #787878;
  padding:0px 4px 0px 6px;
}
.nan-a{
  float: right;
}
.nan-span {
  border-left: 1px solid #787878;
}
.logobackground{
  min-width: 1200px;
  background-color: var(--Colors);
}
.logo-div{
  width: 1200px;
  margin: 0 auto;
  height: 45px;
}
.logo-div:after{
  content: "";
  display: table;
  clear: both;
}
.nev-logo {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  float: left;
}
.nev-logo img{
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 45px;
  font-size:16px;
  color: #fff;
  float:left;
}

</style>
<template>
  <Header class="header">
    <div id="tmnev">
      <div class="nan-div-a">
        <div class="nan-div-b">
          <span class="nan-a">
            <a class="nan-span" style="border-left:none;">登录</a>
            <a class="nan-span">注册</a>
            <a class="nan-span">我的订单</a>
          </span>
        </div>
      </div>
      <div class="logobackground">
        <div class="logo-div">
          <a class="nev-logo"><img src="/static/images/bai_logo.png"></a>
          <span id="nev_vlues">{{ nev_vlues }}</span>
        </div>
      </div>
      </div>
   </Header>
</template>
<script>
export default {
  data: function () {
    return {
      links: {
        Login: '/Login'
      }
    }
  },
  props: ['nev_vlues', 'nev_span_vlues']
}
</script>
