<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
  font-size: 14px;
}

.M-after:after{
  content: "";
  display: table;
  clear: both;
}
a{
  color: black;
}
a:hover{
  color: var(--Colors);
}
input{
  outline: none;
  padding-left:10px;
}
.M-title{
  width: 100%;
  height: 43px;
  line-height: 43px;
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
}
.M-title a{
  margin-right: 19px;
  margin-left: 16px;
  font-size: 14px;
}
.M-title-colour{
  color: var(--Colors);
}

.M-Orderform{
  width: 100%;
  margin-top: 21px;
}
.M-Orderform label{
  font-weight: bold;
  color: #FF4401;
}
.M-content{
  margin-top: 5px;
  widows: 100%;
}
.M-content dl{
  float: left;
}
.M-content dl dt{
  height: 40px;
  line-height: 40px;
  float: left;
  margin-left: 47px;
}
.M-content dl .Mcontent-li{
  margin-left: 0px;
}
.M-content dl dt span{
  display: block;
  width: 100px;
  float: left;
  text-align: center;
}
.M-content dl dt input{
  height: 26px;
  width: 190px;
  border: 1px solid #DCDCDC;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  font-size: 14px;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder{
  color: #000;
}
.ivu-select-small.ivu-select-single .ivu-select-selection{
  border-radius: 0px;
}
.ivu-select-item{
  font-size: 14px!important;
}
.Details-select {
  width: 190px;
}
.Details-select li{
  height: 30px!important;
}
.M-content dl .M-dt{
  padding-left: 158px;
}
.M-dt a{
  margin-top: 25px;
  color: #a0a0a0;
}
.M-dt button{
  width: 60px;
  height: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-left: 15px;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  color: #000;
  outline: none;
}
.ivu-checkbox-wrapper{
  font-size: 14px;
}
.M-select{
  margin-top: 18px;
  font-size: 14px;
  padding-left: 15px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 18px;
}
.M-select button{
  width: 55px;
  height: 24px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  outline: none;
  margin-left: 6px;
}
.M-tabeltitle ul{
  border: 1px solid #e0e0e1;
  background-color: #f5f5f5;
  margin-top: 17px;
}
.M-tabeltitle ul li{
  height: 36px;
  line-height: 36px;
  float: left;
  width: 16%;
  text-align: center;
}
.M-tabeltitle ul .M-tabeltitle-li{
  width: 36%;
}
.M-Data dl{
  border-bottom: 1px solid #d8d8d8;
}
.M-Data dl dt{
  float: left;
}
.M-Data dl dt{
  width: 16%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.M-Data dl dt p{
  text-align: left;
}
.M-Data dl .M-Data-dt1{
  width: 36%;
}
.M-Data dl .M-Data-dt1 div{
  width: 100%;
  height: 66px;
  margin: auto;
  margin-top: 12.5px;
}
.M-Data dl .M-Data-dt1 img{
  float: left;
  margin-left: 10px;
  margin-right:10px;
}
.M-Data dl .M-Data-dt1 label{
  margin-top: 12px;
  width: 211px;
  line-height: 20px;
  float: left;
}
.pageing{
  height: 45px;
  width: 170px;
  float: right;
  margin-top: 59px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}
.pageing a{
  color: #fff;
  background: #FF4401;
  display: block;
  height: 45px;
  line-height: 45px;
  width: 45px;
  float: left;
  margin-left: 10px;
}
.pageing .pageing-a{
  border: 1px solid #dededf;
  background: url("/static/images/page1.png") no-repeat left;
  background-position:6px 8px;
  margin-left: 0px;
}
.pageing .pageing-b{
  border: 1px solid #dededf;
  background: url("/static/images/page2.png") no-repeat left;
  background-position:6px 8px;
}
</style>
<template>
<div class="M">
  <div class="M-title">
    <a class="M-title-colour">我是卖家</a>><a class="M-title-colour">交易管理</a>><a>出售中的商品</a>
   </div>
  <div class="M-Orderform">
    <label>出售中的商品</label>
   </div>
  <div class="M-content M-after">
    <dl>
      <dt class="Mcontent-li"><span>商品名称：</span><input type="text"></dt>
      <dt><span>商品编码：</span><input type="text"></dt>
      <dt>
        <span>商品类目：</span>
        <Select class="Details-select" placeholder="全部类目" clearable v-model="Category" size="small">
          <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
        </Select>
      </dt>
      <dt class="Mcontent-li"><span>价格：</span><input type="text"></dt>
      <dt><span>总销量：</span><input type="text"></dt>
      <dt>
        <span>店铺中分类：</span>
        <Select class="Details-select" placeholder="全部分类" clearable v-model="Type" size="small">
          <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
        </Select>
      </dt>
      <dt class="Mcontent-li"><span>商品ID：</span><input type="text"></dt>
      <dt>
        <span>审核状态：</span>
        <Select class="Details-select" placeholder="无" clearable v-model="Check" size="small">
          <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
        </Select>
      </dt>
      <dt class="M-dt"><a>清空条件</a><button class="search-btn1">搜索</button></dt>
    </dl>
   </div>
  <div class="M-select">
    <Checkbox class="content-ckbox" v-model="single">全选</Checkbox>
    <button type="primary">删除</button>
    <button type="primary">下架</button>
   </div>
  <div class="M-tabeltitle">
    <ul class="M-after">
      <li class="M-tabeltitle-li">商品名称</li>
      <li>价格</li>
      <li>库存</li>
      <li>总销量</li>
      <li>发布时间</li>
    </ul>
   </div>
  <div class="M-Data">
    <dl class="M-after">
      <dt class="M-Data-dt1">
        <div>
            <img :src="itme">
            <label>
              <p>新西兰奇异果6个134-175g/个水果</p>
              <p>果汁丰沛，甜蜜清爽</p>
            </label>
         </div>
      </dt>
      <dt>
        <span>￥59.90</span>
      </dt>
      <dt>
        <span>6</span>
      </dt>
      <dt>
        <span>168</span>
      </dt>
      <dt>2018-05-28</dt>
    </dl>
   </div>
  <div class="pageing">
    <a class="pageing-a"></a>
    <a>1</a>
    <a class="pageing-b"></a>
   </div>
</div>
</template>
<script>
export default {
  data: function () {
    return {
      single:false,
      Category: '', // 商品类目
      Type: '', // 店铺中分类
      Soldout: '', // 下架状态
      Check: '', // 审核状态
      itme: ['/static/images/mht.png'],
      cityList: [
        {
          value: 'New York',
          text: 'New York'
        },
        {
          value: 'London',
          text: 'London'
        },
        {
          value: 'Sydney',
          text: 'Sydney'
        },
        {
          value: 'Ottawa',
          text: 'Ottawa'
        },
        {
          value: 'Paris',
          text: 'Paris'
        },
        {
          value: 'Canberra',
          text: 'Canberra'
        }
      ],
    }
  }
}
</script>
