<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
.nav{
  min-width: 1200px;
}
.contart{
  width:1200px;
  margin: 0 auto;
  margin-top: 21px;
}
.TM:after{
  content: "";
  display: table;
  clear: both;
}
.contart-left{
  width: 212px;
  height: 456px;
  border: 1px solid #dddddd;
  float: left;
}
.contart-right{
  margin-left: 24px;
  width: 964px;
  float: left;
}
.contart-left ul li{
  height: 100px;
  padding-left: 6px;
}
.contart-left ul .left-li{
  margin-top: 26px;
}
.contart-left ul li span{
  display: block;
  height: 30px;
  width: 100%;
  color: black;
  line-height: 30px;
  float: left;
}
.contart-left ul li span img{
  margin-top: 6px;
  float: left;
  margin-left: 18px;
  margin-right: 10px;
}
.contart-left ul li span .li-img{
  margin-top: 3px;
}
.contart-left ul li span label{
  float: left;
  font-size: 15px;
  font-weight: bold;
}
.contart-left ul li a{
  font-size: 14px;
  margin-top: 8px;
  margin-left: 18px;
  float: left;
  color: #000;
}
.contart-left ul li a:hover{
  color: var(--Colors);
}
</style>
<template>
<div class="nav">
  <y-tgheader :nev_vlues="nev_vlues"></Y-tgheader>
  <div class="contart TM">
    <div class="contart-left">
      <ul class="TM">
        <li class="left-li">
          <span><img src="/static/images/dp.png"><label>店铺管理</label></span>
          <a>我的店铺</a>
        </li>
        <li>
          <span><img src="/static/images/jy.png"><label>交易管理</label></span>
          <a>已卖出的商品</a><a>评价管理</a>
        </li>
        <li>
          <span><img src="/static/images/wl.png"><label>物流管理</label></span>
          <a>发货</a><a>我要寄快递</a>
        </li>
        <li>
          <span><img class="li-img" src="/static/images/sp.png"><label>商品管理</label></span>
          <a>发布商品</a><a>出售中的商品</a><a href="#">仓库中的商品</a>
        </li>
      </ul>
    </div>
    <div class="contart-right">
      <!-- <y-SoldGoods></y-SoldGoods> -->
      <!-- <y-MerchandiseInventory></y-MerchandiseInventory> -->
      <!-- <y-SaleOfGoods></y-SaleOfGoods> -->
      <y-TheDeliveryOrder></y-TheDeliveryOrder>
    </div>
  </div>
  <y-footer></y-footer>
</div>
</template>
<script>
import YTgheader from '/components/TscMgtHeader'
import YSoldGoods from '/page/TheSellerCenter/SoldGoods'
import YMerchandiseInventory from '/page/TheSellerCenter/MerchandiseInventory'
import YTheDeliveryOrder from '/page/TheSellerCenter/TheDeliveryOrder'
import YSaleOfGoods from '/page/TheSellerCenter/SaleOfGoods'

import YFooter from '/components/Footer'
export default {
  data: function () {
    return {
      nev_vlues: '卖家中心'
    }
  },
  components: {
    YTgheader,
    YSoldGoods,
    YMerchandiseInventory,
    YSaleOfGoods,
    YTheDeliveryOrder,
    YFooter
  }
}
</script>
