<style scoped>
*{
    margin: 0;
    padding: 0;
}
.public{
    width: 100%;
    height: 1200px;
    margin: 0 auto;
}
input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.header {
  width: 100%;
  height: 534px;
  background: #fff;
  margin-bottom: 85px;
  margin:0 auto;
}
#title{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #ff7700;
  text-align: right;
}
.title-span{
  margin: 0 auto;
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 27px
}
.nev-span a {
  color: #ff7700;
}
#nev {
  width:1200px;
  height: 54px;
  margin:0 auto;
  margin-top: 24px;
 }
 .nev-a{
   float: left;
   width: 140px;
   height: 54px;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  float: left;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 55px;
  font-size:16px;
  font-weight:bold;
  float:left;
}
.Return{
    margin: 0 auto;
    margin-top: 45px;
    width: 1200px;
    height: 50px;
    /* border: 1px solid red; */
}
 .step-container {
     margin-top: 45px;  
    margin: 0;  
    padding: 0;  
    width: 100%;  
}  
.step-container li {  
    float: left;
    display: inline-block;    
    position: relative;  
    width: 250px;  
    height: 40px;  
    line-height: 30px;  
    font-size: 14px;  
    text-align: center;  
    background-color: #ccc;  
    color: #ffffff;  
}  
.step-container li.step-past {  
    background-color: #4AB300;  
    width: 250px;  
}  
.step-container li.step-current {  
    background-color: #4AB300;  
} 
.step-container li.step-warp {  
    background-color: #4AB300;  
}  
.arrow {  
    position: absolute;  
    right: -7.5px;  
    height: 40px;  
    background-color: #ffffff;  
    z-index: 2;  
}  
.arrow span {
    height: 40px;  
    display: inline-block;  
    border-left: 15px solid transparent;  
    border-top: 15px solid transparent;  
    border-bottom: 15px solid transparent;  
}  
.arrow-next {  
    margin-left: -15px;  
}  
.arrow-past .arrow-pre {
    margin-left: -1px; 
    border-left: 15px solid #4AB300;  
}  
.arrow-past .arrow-next {
    margin-right: -1px;
    border-top: 15px solid #4AB300;  
    border-bottom: 15px solid #4AB300;  
}  
.arrow-current .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #4AB300;  
}  
.arrow-current .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #4AB300;  
    border-bottom: 15px solid #4AB300;  
}
.arrow-warp .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #4AB300;  
}  
.arrow-warp .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #cbcbcb;  
    border-bottom: 15px solid #cbcbcb;  
}
.clearfix:after {   
    content:".";   
    display:block;   
    height:0;   
    visibility:hidden;   
    clear:both;   
}
.content{
    margin: 0 auto;
    margin-left: 75px;
    width: 1015px;
    height: 562px;
    border: 1px solid #cbcbcb;
}
.content .content-p ul{
    margin-left: 120px;
    margin-top: 50px;
}
.content .content-p select{
    width: 220px;
    height: 30px;
    margin-left: 15px;
}
.content .content-p input{
    width: 220px;
    height: 30px;
    margin-left:15px;
    color: #ccc;
}
.content .content-p ul li{
    font-size: 14px;
    color: #3e3e3e;
}
.content .content-p ul li i{
    color: #4AB300;
}
.content .content-p ul .teshu{
    width: 336px;
    height: 95px;
    margin-top: 20px;
    margin-left: 20px;
}
.content .content-u button{
    width: 202px;
    height: 33px;
    line-height: 0px;
    background: #4AB300;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 210px;
    margin-top: 100px;
}
</style>

<template>
    <div class="public">
        <Header class="header">
            <div id="title">
            <div class="title-span">
            <span id="nev_span_vlues" class="nev-span">{{ nev_span_vlues }}<a>xiaoxiao</a></span>
            </div>
            </div>
            <div id="nev">
            <div class="nev-a">
                <a class="nev-logo"></a>
                <span id="nev_vlues">{{ nev_vlues }}</span>
            </div>
            </div>
            <div class="Return">
                 <ul class="step-container">  
                        <li class="step-past">1&nbsp;买家申请退货退款 
                            <span class="arrow arrow-past">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>  
                        <li class="step-current">2&nbsp;卖家处理申请  
                            <span class="arrow arrow-current">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>
                        <li class="step-warp">3&nbsp; 买家退货 
                            <span class="arrow arrow-warp">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>  
                        <li class="step-next">4&nbsp;退货退款完毕</li>  
                    </ul>  
            </div>
            <div class="content">
                <div class="content-p">
                    <ul>
                        <li>物流公司：<i>*</i><select >
                            <option value="">请选择</option></select></li>
                        <li>物流单号：<i>*</i><input type="text" value="填写物流单号"></li>
                        <li>联系电话：<i>*</i><input type="text" value="请填写联系电话"></li>
                        <li class="rgb">退货说明：<Input v-model="value5" class="teshu" type="textarea" placeholder="请输入退款说明"></Input></li>
                    </ul>
                </div>
                <div class="content-u">
                    <button>提交</button>
                </div>
            </div>
       </Header>
       
    </div>
   
</template>

<script>
export default {
    data: function () {
    return {
         value5: '',
    }
  },
  props: ['nev_vlues', 'nev_span_vlues'],
  methods: {
    next () {
    }
  }
}
</script>
