<style scoped>
*{
    margin: 0;
    padding: 0;
}
.public{
    width: 100%;
    margin: 0 auto;
}
input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.header {
  width: 100%;
  height: 534px;
  background: #fff;
  margin-bottom: 85px;
  margin:0 auto;
}
#title{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #ff7700;
  text-align: right;
}
.title-span{
  margin: 0 auto;
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 27px
}
.nev-span a {
  color: #ff7700;
}
#nev {
  width:1200px;
  height: 54px;
  margin:0 auto;
  margin-top: 24px;
 }
 .nev-a{
   float: left;
   width: 140px;
   height: 54px;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  margin-left: 85px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  float: left;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 55px;
  font-size:16px;
  font-weight:bold;
  float:left;
}
.Return{
    margin: 0 auto;
    margin-top: 45px;
    width: 1200px;
    height: 50px;
    margin-left: 175px;
    /* border: 1px solid red; */
}
 .step-container {
     margin-top: 45px;  
    margin: 0;  
    padding: 0;  
    width: 100%;  
}  
.step-container li {  
    display: inline-block;  
    float: left;  
    position: relative;  
    width: 337px;  
    height: 40px;  
    line-height: 30px;  
    font-size: 14px;  
    text-align: center;  
    background-color: #4AB300;  
    color: #ffffff;  
}  
.step-container li.step-past {  
    background-color: #4AB300;  
    width: 337px;  
}  
.step-container li.step-current {  
    background-color: #4AB300;  
    width: 340px;
} 
.step-container li.step-warp {  
    background-color: #4AB300;  
    width: 337px;
}  
.arrow {  
    position: absolute;  
    right: -7.5px;  
    height: 40px;  
    background-color: #ffffff;  
    z-index: 2;  
}  
.arrow span {
    height: 40px;  
    display: inline-block;  
    border-left: 15px solid transparent;  
    border-top: 15px solid transparent;  
    border-bottom: 15px solid transparent;  
}  
.arrow-next {  
    margin-left: -15px;  
}  
.arrow-past .arrow-pre {
    margin-left: -1px; 
    border-left: 15px solid #4AB300;  
}  
.arrow-past .arrow-next {
    margin-right: -1px;
    border-top: 15px solid #4AB300;  
    border-bottom: 15px solid #4AB300;  
}  
.arrow-current .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #4AB300;  
}  
.arrow-current .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #4AB300;  
    border-bottom: 15px solid #4AB300;  
}
.arrow-warp .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #4AB300;  
}  
.arrow-warp .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #4AB300;  
    border-bottom: 15px solid #4AB300;  
}
.clearfix:after {   
    content:".";   
    display:block;   
    height:0;   
    visibility:hidden;   
    clear:both;   
}
.content{
    margin: 0 auto;
    width: 1015px;
    height: 348px;
    border: 1px solid #cbcbcb;
}
.content .content-l{
    width: 507px;
    height: 347px;
    /* border: 1px solid #4AB300; */
    margin: 0 auto;
}
.content .content-l ul{
    margin-top: 75px;
    margin-left: 10px;
}
.content .content-l ul li{
    line-height: 40px;
    float: left;
}
.content .content-l ul li{
    margin-left: 40px;
}
.content .content-l ul li h3{
    font-size: 16px;
    color: #3e3e3e;
}
.content .content-l ul li h4{
    font-size: 14px;
    color: #aaaaaa;
}
.content .content-l ul li h5{
    color: #636363;
}
</style>

<template>
    <div class="public">
        <Header class="header">
            <div id="title">
            <div class="title-span">
            <span id="nev_span_vlues" class="nev-span">{{ nev_span_vlues }}<a>xiaoxiao</a></span>
            </div>
            </div>
            <div id="nev">
            <div class="nev-a">
                <a class="nev-logo"></a>
                <span id="nev_vlues">{{ nev_vlues }}</span>
            </div>
            </div>
            <div class="Return">
                 <ul class="step-container">  
                        <li class="step-past">1&nbsp;买家申请退货退款 
                            <span class="arrow arrow-past">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>  
                        <li class="step-current">2&nbsp;卖家处理申请  
                            <span class="arrow arrow-current">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li> 
                        <li class="step-next">4&nbsp;退货退款完毕</li>  
                    </ul>  
            </div>
            <div class="content">
                <div class="content-l">
                    <ul>
                        <li><img src="/static/images/goud.png"></li>
                        <li><h3>退款成功</h3><h4>退款成功时间：2018-05-19&nbsp;03:40:09</h4><h5>退款金额￥39:99</h5></li>
                    </ul>
                    
                </div>
            </div>
       </Header>
       
    </div>
   
</template>

<script>
export default {
    data: function () {
    return {
       
    }
  },
  props: ['nev_vlues', 'nev_span_vlues'],
  methods: {
    next () {
    }
  }
}
</script>