<style scoped>
*{
    margin: 0;
    padding: 0;
}
.public{
    width: 100%;
    margin: 0 auto;
}
input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.header {
  width: 100%;
  height: 534px;
  background: #fff;
  margin-bottom: 85px;
  margin:0 auto;
}
#title{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #ff7700;
  text-align: right;
}
.title-span{
  margin: 0 auto;
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 27px
}
.nev-span a {
  color: #ff7700;
}
#nev {
    margin-left: 70px;
  width:1200px;
  height: 54px;
  margin:0 auto;
  margin-top: 24px;
 }
 .nev-a{
   float: left;
   width: 140px;
   height: 54px;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  margin-left: 85px;
  float: left;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 55px;
  font-size:16px;
  font-weight:bold;
  float:left;
}
.Return{
    width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
    height: 50px;
    margin-left: 167px;
    /* border: 1px solid red; */
}
 .step-container {
     margin-top: 45px;  
    margin: 0;  
    padding: 0;  
    width: 100%;  
}  
.step-container li {  
    display: inline-block;  
    float: left;  
    position: relative;  
    width: 337px;  
    height: 40px;  
    line-height: 30px;  
    font-size: 14px;  
    text-align: center;  
    background-color: #ccc;  
    color: #ffffff;  
}  
.step-container li.step-past {  
    background-color: #4AB300;  
    width: 340px;  
}  
.step-container li.step-current {  
    background-color: #cbcbcb; 
    width: 337px; 
}  
.arrow {  
    position: absolute;  
    right: -7.5px;  
    height: 40px;  
    background-color: #ffffff;  
    z-index: 2;  
}  
.arrow span {
    height: 40px;  
    display: inline-block;  
    border-left: 15px solid transparent;  
    border-top: 15px solid transparent;  
    border-bottom: 15px solid transparent;  
}  
.arrow-next {  
    margin-left: -15px;  
}  
.arrow-past .arrow-pre {
    margin-left: -1px; 
    border-left: 15px solid #4AB300;  
}  
.arrow-past .arrow-next {
    margin-right: -1px;
    border-top: 15px solid #cbcbcb;  
    border-bottom: 15px solid #cbcbcb;  
}  
.arrow-current .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #cbcbcb;  
}  
.arrow-current .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #cbcbcb;  
    border-bottom: 15px solid #cbcbcb;  
}
.clearfix:after {   
    content:".";   
    display:block;   
    height:0;   
    visibility:hidden;   
    clear:both;   
}
.content{
    width: 1015px;
    height: 615px;
    border: 1px solid #d1d1d1;
    margin: 0 auto;
} 
.content .content-a{
    margin-left: 8px;
    width: 423px;
    height: 73px;
    margin-top:50px;
    /* border: 1px solid #4AB300; */
}  
.content .content-a ul{
    margin-left: 20px;
}
.content .content-a ul li{
    margin-left: 10px;
    line-height: 30px;
    color: #5d5d5d;
    font-size: 14px;
    float: left;
} 
.content .content-b{
    width: 200px;
    height: 80px;
    /* border: 1px solid #4AB300; */
    margin-left:30px; 
}
.content .content-b ul li{
    margin-left: 10px;
    font-size: 14px;
    float: left;
    color: #5d5d5d;
}
.content .content-b ul li span{
    font-size: 14px;
} 
.content .content-b .ivu-radio-group{
    margin-top: 15px;
}
.content .content-c{
    width: 200px;
    height: 80px;
    margin-left:30px; 
}
.content .content-c ul li{
    margin-left: 10px;
    font-size: 14px;
    float: left;
    color: #5d5d5d;
}
.content .content-c ul li span{
    font-size: 14px;
} 
.content .content-c .ivu-radio-group{
    margin-top: 15px;
}
.content .content-d{
    margin-left: 40px;
}
.content .content-d select{
    width: 240px;
    height: 30px;
    outline: none;
}
.content .content-d span{
    font-size: 14px;
    color: #5d5d5d;
}
.content .content-e{
    margin-left: 40px;
}
.content .content-e span{
    font-size: 14px;
    color: #5d5d5d;
}
.content .content-e span input{
    width: 240px;
    height: 30px;
    margin-left: 3px;
    color: #4AB300;
    outline: none;
}
.content .content-f{
    margin-left: 145px;
}
.content .content-f button{
    width: 110px;
    height: 33px;
    line-height: 33px;
    background: #4AB300;
    border: none;
    outline: none;
    
}
.content .content-f button span{
    color: #fff;
}
</style>

<template>
    <div class="public">
        <Header class="header">
            <div id="title">
            <div class="title-span">
            <span id="nev_span_vlues" class="nev-span">{{ nev_span_vlues }}<a>xiaoxiao</a></span>
            </div>
            </div>
            <div id="nev">
            <div class="nev-a">
                <a class="nev-logo"></a>
                <span id="nev_vlues">{{ nev_vlues }}</span>
            </div>
            </div>
            <div class="Return">
                 <ul class="step-container">  
                        <li class="step-past">1&nbsp;买家申请退货退款 
                            <span class="arrow arrow-past">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>  
                        <li class="step-current">2&nbsp;卖家处理申请  
                            <span class="arrow arrow-current">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li> 
                        <li class="step-next">4&nbsp;退货退款完毕</li>  
                    </ul>  
            </div>
            <div class="content">
                <div class="content-a">
                    <ul>
                        <li>退款商品:</li>
                        <li><img src="/static/images/hmg.png"></li>
                        <li><p>沙漠黄金蜜瓜甜瓜新鲜应季水果批发包</p><p>邮孕妇水果现摘先发黄河蜜</p></li>
                    </ul>
                </div>
                <div class="content-b">
                    <ul>
                        <li>服务类型：</li>
                        <li>
                            <RadioGroup v-model="vertical" vertical>
                                <Radio label="apple">
                                    <span>仅退款</span>
                                </Radio>
                                <Radio label="android">
                                    <span>退货退款</span>
                                </Radio>
                            </RadioGroup>
                        </li>
                    </ul>
                </div>
                <div class="content-c">
                    <ul>
                        <li>货物状态：</li>
                        <li>
                            <RadioGroup v-model="vertical1" vertical>
                                <Radio label="zhuangtai1">
                                    <span>未收到货</span>
                                </Radio>
                                <Radio label="zhuangtai2">
                                    <span>已收到货</span>
                                </Radio>
                            </RadioGroup>
                        </li>
                    </ul>
                </div>
                <div class="content-d">
                    <span>退款原因：
                        <select name="" id="">
                           <option value="">请选择</option>
                           <option value="">正常</option>
                           <option value="">不正常</option>
                           <option value="">其他</option>
                        </select>
                    </span>
                </div>
                <div class="content-e">
                    <span>退款金额：<input type="text" value="￥39.90"></span>
                </div>
                <div class="content-f">
                    <button><span>提交</span></button>
                </div>
            </div>
       </Header>
       
    </div>
   
</template>

<script>
export default {
    data: function () {
    return {
        vertical1: 'zhuangtai1',
        vertical: 'apple',
        nev_vlues:'退货退款申请'
    }
  },
  props: ['nev_vlues', 'nev_span_vlues'],
  methods: {
    next () {
    }
  }
}
</script>
