<style scoped>
*{
    margin: 0;
    padding: 0;
}
.public{
    width: 100%;
    margin: 0 auto;
}
input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.header {
  width: 100%;
  height: 534px;
  background: #fff;
  margin-bottom: 85px;
  margin:0 auto;
}
#title{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #ff7700;
  text-align: right;
}
.title-span{
  margin: 0 auto;
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 27px
}
.nev-span a {
  color: #ff7700;
}
#nev {
  width:1200px;
  height: 54px;
  margin:0 auto;
  margin-top: 24px;
 }
 .nev-a{
   float: left;
   width: 140px;
   height: 54px;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  float: left;
}
#nev_vlues{
  margin-left: 15px;
  line-height: 55px;
  font-size:16px;
  font-weight:bold;
  float:left;
}
.Return{
    margin: 0 auto;
    margin-top: 45px;
    width: 1200px;
    height: 50px;
    /* border: 1px solid red; */
}
 .step-container {
     margin-top: 45px;  
    margin: 0;  
    padding: 0;  
    width: 100%;  
}  
.step-container li {  
    display: inline-block;  
    float: left;  
    position: relative;  
    width: 250px;  
    height: 40px;  
    line-height: 30px;  
    font-size: 14px;  
    text-align: center;  
    background-color: #ccc;  
    color: #ffffff;  
}  
.step-container li.step-past {  
    background-color: #4AB300;  
    width: 250px;  
}  
.step-container li.step-current {  
    background-color: #4AB300;  
} 
.step-container li.step-warp {  
    background-color: #cbcbcb;  
}  
.arrow {  
    position: absolute;  
    right: -7.5px;  
    height: 40px;  
    background-color: #ffffff;  
    z-index: 2;  
}  
.arrow span {
    height: 40px;  
    display: inline-block;  
    border-left: 15px solid transparent;  
    border-top: 15px solid transparent;  
    border-bottom: 15px solid transparent;  
}  
.arrow-next {  
    margin-left: -15px;  
}  
.arrow-past .arrow-pre {
    margin-left: -1px; 
    border-left: 15px solid #4AB300;  
}  
.arrow-past .arrow-next {
    margin-right: -1px;
    border-top: 15px solid #4AB300;  
    border-bottom: 15px solid #4AB300;  
}  
.arrow-current .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #4AB300;  
}  
.arrow-current .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #cbcbcb;  
    border-bottom: 15px solid #cbcbcb;  
}
.arrow-warp .arrow-pre {
    margin-left: -1px;  
    border-left: 15px solid #cbcbcb;  
}  
.arrow-warp .arrow-next {
    margin-right: -1px;  
    border-top: 15px solid #cbcbcb;  
    border-bottom: 15px solid #cbcbcb;  
}
.clearfix:after {   
    content:".";   
    display:block;   
    height:0;   
    visibility:hidden;   
    clear:both;   
}
.content{
    margin: 0 auto;
    margin-left: 82px;
    width: 1015px;
    height: 348px;
    border: 1px solid #cbcbcb;
}
.content .content-g{
    margin-left: 50px;
    margin-top: 40px;
} 
.content .content-g ul li{
    line-height: 30px;
}
.content .content-g ul .ziti{
    font-size: 20px;
    color: #4f4f4f;
}
.content .content-g ul li Icon{
    background-color: #4AB300;
}
.content .content-g ul li span{
    font-size: 12px;
    color: #4AB300;
    margin-left: 20px;
}
.content .content-h{
    width: 950px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.content .content-j{
    margin-top: 15px;
}
.content .content-j ul li{
    list-style-type: disc;
    margin-left: 67px;
    line-height: 30px;
    font-size: 14px;
    color: #b6b6b6;
}
.content .content-k button{
    width: 200px;
    height: 35px;
    line-height: 0px;
    margin-top: 60px;
    margin-left: 55px;
    border: none;
    outline: none;
    background: #4AB300;
    color: #fff;
}
</style>

<template>
    <div class="public">
        <Header class="header">
            <div id="title">
            <div class="title-span">
            <span id="nev_span_vlues" class="nev-span">{{ nev_span_vlues }}<a>xiaoxiao</a></span>
            </div>
            </div>
            <div id="nev">
            <div class="nev-a">
                <a class="nev-logo"></a>
                <span id="nev_vlues">{{ nev_vlues }}</span>
            </div>
            </div>
            <div class="Return">
                 <ul class="step-container">  
                        <li class="step-past">1&nbsp;买家申请退货退款 
                            <span class="arrow arrow-past">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>  
                        <li class="step-current">2&nbsp;卖家处理申请  
                            <span class="arrow arrow-current">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>
                        <li class="step-warp">3&nbsp; 买家退货 
                            <span class="arrow arrow-warp">  
                                <span class="arrow-pre"></span>  
                                <span class="arrow-next"></span>  
                            </span>  
                        </li>  
                        <li class="step-next">4&nbsp;退货退款完毕</li>  
                    </ul>  
            </div>
            <div class="content">
                <div class="content-g">
                    <ul>
                        <li class="ziti">请等待商家处理<Icon type="ios-clock-outline" style="color:#4AB300;font-size:14px;margin-left: 40px;"></Icon><span>还剩2天23时59分</span></li>
                        <li>您已成功发起申请，请耐心等待商家处理</li>
                    </ul>
                </div>
                <div class="content-h"></div>
                <div class="content-j">
                    <ul>
                        <li>商家同意或者超时未处理,系统会自动退款给您</li>
                        <li>如果商家拒绝,您可以修改退款申请后再次发起申请,商家会重新处理</li>
                    </ul>
                </div>
                <div class="content-k">
                    <button>修改申请</button>
                </div>
            </div>
       </Header>
       
    </div>
   
</template>

<script>
export default {
    data: function () {
    return {
        vertical1: 'zhuangtai1',
        vertical: 'apple',
        nev_vlues:'退货退款申请'
    }
  },
  props: ['nev_vlues', 'nev_span_vlues'],
  methods: {
    next () {
    }
  }
}
</script>
