<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
a {
  color: #000;
}
a:hover{
  color: var(--Colors);
}
.PersonalData{
  font-size: 14px;
}
.PersonalData-span{
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #000;
  border: 2px solid #EEEEEE;
  border-bottom: none;
  margin-left: 10px;
}
.PersonalData-div{
  padding-top: 5px;
  width: 780px;
  height: 550px;
  border: 2px solid #EEEEEE;
}
.PersonalData-a{
  font-weight: bold;
}
.BasicInfo{
  margin-left: 20px;
  border-right: 1px solid #EEEEEE;
  padding-right: 10px;
}
.ProfilePicture{
  padding-left: 9px;
}
.PictureUpload{
  border-top: 2px solid #EEEEEE;
  padding-top: 25px;
  padding-left: 20px;
  margin-top: 10px;
}
.UploadTitle{
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
.UploadTitle img{
  float: left;
}
.UploadTitle span{
  float: left;
  margin-left: 5px;
}
.PictureUpload-div{
  width: 100%;
  height: 320px;
}
.PictureUpload-div1{
  width: 325px;
  height: 265px;
}
.PictureUpload-span{
  display: block;
  margin-top: 5px;
  color: #BABABA;
}
.Uploads{
  margin-top: 10px;
}
.Upload{
  padding-top: 20px;
  height: 225px;
  width: 325px;
  border: none;
}
.Upload p{
  margin-top: 5px;
  font-size: 15px;
}
.PictureUpload-div1,.HeadSizebig,.HeadSizeMiddle-div{
  float: left;
}
.HeadSizebig{
  margin-top: 35px;
  margin-left: 40px;
  width: 193px;
  font-size: 12px;
  height: 230px;
  line-height: 16px;
}
.HeadSizebig img{
  width: 160px;
  height: 160px;
  margin: 9px 20px 9px 0px;
}
.HeadSizeMiddle-div{
  margin-top: 77px;
  width: 70px;
  height: 195px;
  font-size: 12px;
  line-height: 14px;
}
.HeadSizeMiddle-img{
  width: 70px;
  height: 100px;
}
.HeadSizeMiddle-img img{
  width: 60px;
  height: 60px;
}
.HeadSizeSmall-img{
  width: 70px;
  height: 80px;
}
.HeadSizeSmall-img img{
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.HeadSizebtn{
  width:500px;
}
.HeadSizebtn button{
  margin-top: 40px;
  width: 55px;
  height: 20px;
  line-height: 20px;
  background-color: var(--Colors);
  border: 1px solid #BFD6AF;
  font-size: 14px;
  outline:none;
}
.HeadSizebtn button a{
  display: block;
  width: 55px;
  height: 20px;
  text-align: center;
  color: #fff;
}
</style>
<template>
<div class="PersonalData">
  <span class="PersonalData-span">个人资料</span>
  <div class="PersonalData-div">
    <div class="PersonalData-a">
      <a class="BasicInfo">基本信息</a>
      <a class="ProfilePicture">头像照片</a>
    </div>
    <div class="PictureUpload">
      <div class="UploadTitle">
        <img src="/static/images/UploadTitleimg.png">
        <span>选择您要上传的头像</span>
      </div>
      <div class="PictureUpload-div">
        <div class="PictureUpload-div1">
          <span class="PictureUpload-span">仅支持JPG、GIF、PNG图片文件，且文件小于5M</span>
          <Upload class="Uploads"
            multiple
            type="drag"
            action="//jsonplaceholder.typicode.com/posts/">
            <div class="Upload">
              <Icon type="arrow-up-a" size="80"></Icon>
              <p>选择你要上传的头像方式</p>
              <p>本地照片：选择一张本地图片编辑后上传为图像</p>
              </div>
          </Upload>
        </div>
        <div class="HeadSizebig">
          <span style="color:#fd7204;">您上传的头像会自动生成三种尺寸，请注意中小尺寸的头像是否清晰</span>
          <img>
          <span>大尺寸头像，160×160像素</span>
        </div>
        <div class="HeadSizeMiddle-div">
          <div class="HeadSizeMiddle-img">
            <img >
            <span>中尺寸头像60×60像素</span>
            </div>
          <div class="HeadSizeSmall-img">
            <img>
            <span>小尺寸头像30×30像素</span>
            </div>
        </div>
        <div class="HeadSizebtn"><button @click="handleSubmit()"><a>保存</a></button></div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  data: function () {
    return {

    }
  },
  props: ['namevlues'],
  methods: {
    handleSubmit () {
    }
  }
}
</script>
