<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
a {
  color: #000;
}
a:hover{
  color: var(--Colors);
}
.PersonalData{
  font-size: 14px;
}
.PersonalData-span{
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #000;
  border: 2px solid #EEEEEE;
  border-bottom: none;
  margin-left: 10px;
}
.PersonalData-div{
  padding-top: 5px;
  width: 780px;
  height: 550px;
  border: 2px solid #EEEEEE;
}
.PersonalData-a{
  font-weight: bold;
}
.BasicInfo{
  margin-left: 20px;
  border-right: 1px solid #EEEEEE;
  padding-right: 10px;
}
.ProfilePicture{
  padding-left: 9px;
}
.Details{
  border-top: 2px solid #EEEEEE;
  padding-top: 25px;
  padding-left: 20px;
  margin-top: 10px;
}
.Details li{
  width: 100%;
  height: 50px;
}
.Details .Details-label{
  margin-top: 10px;
  margin-right: 20px;
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  float: left;
}
.Details ul li .Details-text{
  margin-top: 10px;
  margin-right: 20px;
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  float: left;
}
.Details ul .Details-li{
  height: 90px;
}
.Details-span{
  color: red;
}
.Details img{
  float: left;
  width: 75px;
  height: 75px;
  border: 2px solid #EEEEEE;
  padding: 2px;
}
.Details-radio span{
  font-size: 14px;
  font-weight: none;
  display: block;
  margin-top: 9px;
  line-height: 30px;
  text-align: right;
  float: left;
}
.Details input{
  margin-top: 12px;
  height: 26px;
  outline:none;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  font-size: 14px;
}
.ivu-select-item{
  font-size: 14px!important;
}
.Details-select {
  margin-top: 12px;
  width: 100px;
}
.Details-select li{
  height: 30px!important;
}
.Details-btn div{
  width: 250px;
  height: 50px;
  border-top: 2px dashed #EEEEEE;
  float: left;
}
.Details-btn button{
  margin-top: 16px;
  width: 80px;
  height: 26px;
  line-height: 26px;
  background-color: var(--Colors);
  border: 1px solid #BFD6AF;
  font-size: 14px;
  outline:none;
}
.Details-btn button a{
  display: block;
  width: 80px;
  height: 26px;
  text-align: center;
  color: #fff;
}
</style>
<template>
<div class="PersonalData">
  <span class="PersonalData-span">个人资料</span>
  <div class="PersonalData-div">
    <div class="PersonalData-a">
      <a class="BasicInfo">基本信息</a>
      <a class="ProfilePicture">头像照片</a>
    </div>
    <div class="Details">
      <ul>
        <li class="Details-li">
          <label class="Details-label">当前头像：</label><img src="/static/images/logo.png">
         </li>
        <li>
          <label class="Details-label">用户名：</label><label class="Details-text">{{namevlues}}</label>
         </li>
        <li>
          <label class="Details-label"><span class="Details-span">＊</span>昵称：</label>
          <input v-model="PetName">
         </li>
        <li>
          <label class="Details-label">真实姓名：</label>
          <input v-model="RealName">
         </li>
        <li>
          <label class="Details-label"><span class="Details-span">＊</span>性别：</label>
            <RadioGroup class="Details-radio" v-model="Sex">
              <Radio label="1">
                <span>男</span>
               </Radio>
              <Radio label="2">
                <span>女</span>
               </Radio>
             </RadioGroup>
         </li>
        <li>
          <label class="Details-label">生日：</label>
          <Select class="Details-select" placeholder="年" clearable v-model="Year" size="small">
            <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
           </Select>
          <Select class="Details-select" placeholder="月" clearable v-model="Month" size="small">
            <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
           </Select>
          <Select class="Details-select" placeholder="日" clearable v-model="Day" size="small">
            <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
           </Select>
         </li>
        <li>
          <label class="Details-label">居住地：</label>
          <Select class="Details-select" placeholder="省" clearable v-model="Province" size="small">
            <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
           </Select>
          <Select class="Details-select" placeholder="市" clearable v-model="City" size="small">
            <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
           </Select>
          <Select class="Details-select" placeholder="区" clearable v-model="District" size="small">
            <Option v-for="item in cityList" :value="item.value" :key="item.value"></Option>
           </Select>
         </li>
        <li class="Details-btn">
          <label class="Details-label"></label><div><button @click="handleSubmit()"><a>立即认证</a></button></div>
         </li>
       </ul>
    </div>
  </div>
</div>
</template>
<script>
export default {
  data: function () {
    return {
      PetName: '小唐', // 昵称
      RealName: '唐洛顺', // 真实姓名
      Sex: '2', // 性别
      Year: '',
      Month: '',
      Day: '',
      Province: '',
      City: '',
      District: '',
      cityList: [
        {
          value: 'New York',
          text: 'New York'
        },
        {
          value: 'London',
          text: 'London'
        },
        {
          value: 'Sydney',
          text: 'Sydney'
        },
        {
          value: 'Ottawa',
          text: 'Ottawa'
        },
        {
          value: 'Paris',
          text: 'Paris'
        },
        {
          value: 'Canberra',
          text: 'Canberra'
        }
      ],
    }
  },
  props: ['namevlues'],
  methods: {
    handleSubmit () {
      console.log(this.Sex)
    }
  },
}
</script>
