<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
.nav-SecurityCenter{
  margin-top: 25px;
  width: 780px;
  height: 400px;
  border: 2px solid #EDEDED;
}
.span-SecurityCenter{
  display: block;
  font-size: 14px;
  margin: 20px 20px 15px 20px;
  width: 100%;
}
.div-SecurityLevel{
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.span-SecurityLevel{
  margin-left:26px;
  float: left;
  margin-right: 2px;
}
.SecurityLevel{
  margin-top: 5px;
  float: left;
  width: 24px;
  height: 10px;
  background-color: #D9D9D9;
}
.SecurityLevel1{
  background-color: var(--Colors);
}
.Level{
  margin: 20px;
}
.SecurityVerification{
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 20px;
}
.SecurityVerification li{
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #EEEEEE;
  line-height: 62px;
}
.SecurityVerification span{
  float: left;
}
.VerificationIcon{
  display: block;
  margin-top: 18px;
  width: 26px;
  height: 26px;
}
.lvicon1{
  background: url("/static/images/lvicon1.png") no-repeat left;
}
.lvicon2{
  background: url("/static/images/lvicon2.png") no-repeat left;
}
.VerificationTitle{
  margin-top: 16px;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #EEEEEE;
  font-size: 18px;
  font-weight: 700;
  color: #4D4D4D;
  text-align: center;
  padding: 0px 35px 0px 20px;
}
.VerificationText{
  width: 460px;
  margin-left: 30px;
  font-size: 12px;
  font-weight:bold;
}
.VerificationText1{
  font-size: 12px;
  font-weight:bold;
  color: #FF7B00;
}
.VerificationEdit{
  width: 80px;
  color: #005EA7;
  font-size: 14px;
  font-weight:bold;
  text-align: center;
}
.Verificationbtn{
  margin-top: 16px;
  width: 80px;
  height: 26px;
  line-height: 26px;
  background-color: #F0F8E9;
  border: 1px solid #BFD6AF;
  font-size: 14px;
  font-weight: bold;
  outline:none;
}
.Verificationbtn a{
  display: block;
  width: 80px;
  height: 26px;
  text-align: center;
  color: #000;
}
.heid{
  display: none;
}
</style>
<template>
<div class="nav-SecurityCenter">
  <span class="span-SecurityCenter">安全中心</span>
  <div class="div-SecurityLevel">
    <span class="span-SecurityLevel">安全等级：</span>
    <span class="SecurityLevel SecurityLevel1"></span>
    <span class="SecurityLevel SecurityLevel1"></span>
    <span class="SecurityLevel"></span>
    <span class="Level">{{level}}</span>
   </div>
  <div>
    <ul class="SecurityVerification">
      <li>
        <span class="VerificationIcon lvicon1"></span>
        <span class="VerificationTitle">登录密码</span>
        <span class="VerificationText VerificationText1">互联网存在盗号风险，建议您定期更改密码以保护账号安全。</span>
        <span class="VerificationEdit">
          <a>修改</a>
          <button class="Verificationbtn heid"><a>立即修改</a></button>
        </span>
       </li>
      <li>
        <span class="VerificationIcon lvicon1"></span>
        <span class="VerificationTitle">绑定手机</span>
        <span class="VerificationText">您绑定的手机：158*****998，若以丢失或停用，请立即更换，<label class="VerificationText1">避免账号被盗。</label></span>
        <span class="VerificationEdit">
          <a>修改</a>
          <button class="Verificationbtn heid"><a>立即绑定</a></button>
        </span>
       </li>
      <li>
        <span class="VerificationIcon lvicon2"></span>
        <span class="VerificationTitle">实名认证</span>
        <span class="VerificationText">未认证</span>
        <span class="VerificationEdit">
          <a class="heid">修改</a>
          <button class="Verificationbtn"><a>立即认证</a></button>
        </span>
       </li>
    </ul>
  </div>
 </div>
</template>
<script>
export default {
  data: function () {
    return {
      level: '中级'
    }
  }
}
</script>
