<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
.nav{
  min-width: 1200px;
}
.nav-div{
  width: 1200px;
  height: 650px;
  margin: 0px auto;
}
/*左边开始*/
.nav-left{
  margin-top: 45px;
  width: 75px;
  float: left;
}
.nav-left ul li{
  float: left;
  width: 100%;
  margin: auto;
  font-size:14px;
  margin-bottom: 15px;
  text-align: center;
}
.nav-left ul li a{
  color: #626262;
}
.nav-left ul li a:hover{
  color: var(--Colors);
}
.nan-HeadPortrait {
  display: block;
  width: 75px;
  height: 75px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  margin-bottom: 10px;
  border: 1px solid #787878;
  border-radius: 75px;
}
/*右边开始*/
.nav-right{
  width: 970px;
  height: 400px;
  margin-left: 55px;
  float: left;
  margin-top: 45px;
  font-size: 12px;
}
</style>
<template>
<div class="nav">
  <Y-Nav :nev_vlues="nev_vlues" />
  <div class="nav-div">
    <div class="nav-left">
      <ul>
        <li><a class="nan-HeadPortrait"></a></li>
        <li><a>基本信息</a></li>
        <li><a>账号安全</a></li>
        </ul>
    </div>
    <div class="nav-right">
      <!--<UsSCenter :namevlues="namevlues"></UsSCenter>-->
      <!--<PeDetails :namevlues="namevlues"></PeDetails>-->
      <HePortrait :namevlues="namevlues"></HePortrait>
     </div>
   </div>
   <YFooter></YFooter>
 </div>
</template>
<script>
import YNav from '/components/NavigationHeader'
import UsSCenter from '/page/UserCenter/UserSecurityCenter'
import PeDetails from '/page/UserCenter/PersonalDetails'
import HePortrait from '/page/UserCenter/HeadPortrait'
import YFooter from '/components/Footer'
export default {
  data: function () {
    return {
      namevlues: '洛顺',
      nev_vlues: '我的善源'
    }
  },
  components: {
    YNav,
    UsSCenter,
    PeDetails,
    HePortrait,
    YFooter
  }
}
</script>
