<style>
*{
  margin: 0px;
  padding: 0px;
  --Colors:#4AB300;
}
.nav{
  min-width: 1200px;
  font-size: 14px;
}
a{
  color: black;
  text-decoration:none;
}
a:hover{
  color: var(--Colors);
}
.nav-contnet{
  width: 1200px;
  margin: auto;
}
.nav-contnet:after{
  content: "";
  display: table;
  clear: both;
}
.nav-left{
  float: left;
  width: 95px;
}
.nav-right{
  float: left;
  width: 1105px;
}
.nav-left ul{
  margin-top: 29px;
}
.nav-left ul li {
  margin-bottom: 5.5px;
}
.PersonalAssets{
  width: 1100px;
  margin-top: 24px;
  margin-left: 5px;
  height: 150px;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
}
.Nickname{
  width: 260px;
  height: 150px;
  float: left;
  border-right: 1px dashed #e3e3e3;
}
.Nickname img{
  width: 75px;
  height: 75px;
  border: 1px solid #e3e3e3;
  border-radius: 75px;
  margin-top: 26px;
  margin-left: 20px;
  float: left;
}
.nkname{
  width: 150px;
  height: 50px;
  float: left;
  margin-top: 45px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 23px;
}
.nkname a{
  color: var(--Colors);
}
.OrderInformation{
  width: 285px;
  height: 150px;
  float: left;
}
.OrderInformation ul{
  margin: 0 auto;
  width: 165px;
}
.OrderInformation ul li{
  float: left;
  width: 59px;
  height: 59px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 5px;
}
.OrderInformation ul .oili{
  margin-right: 45px;
}
.OrderInformation ul li a{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60px;
  height: 60px;
}
.OrderInformation span{
  display: block;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 42px;
  margin-left: 8px;
  background-color: var(--Colors);
  text-align: center;
  line-height: 56px;
}
.OrderInformation label{
  float: left;
  font-size: 12px;
  padding-left: 8px;
}
.Coupon{
  width: 523px;
  padding: 15px 18px;

  height: 120px;
  margin-left: 15px;
  margin-top: 14px;
  background-color: #fff;
  float: left;
}
.Coupon span{
  display: block;
  width: 100%;
}
.MyLogistics{
 width: 1100px;
 margin-top: 20px;
 margin-left: 5px;
}
.ml{
  display: block;
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #000;
  border: 1px solid #e3e3e3;
  border-bottom: none;
}
.MyLogistics ul{
  width: 100%;
  border: 1px solid #e3e3e3;
  border-top: none;
}
.MyLogistics ul li{
  width: 100%;
  height: 95px;
  border-top: 1px solid #e3e3e3;
  font-size: 12px;
}
.MyLogistics ul li img{
  float: left;
  margin-left: 10px;
  margin-top:15px;
}
.MyLogistics ul li div{
  float: left;
  height: 95px;
  margin-left: 35px;
}
.MyLogistics ul li span{
  display: block;
  margin-top: 25px;
}
.MyLogistics ul li .ml-span{
  margin-top: 10px;
}
.MyLogistics ul li span a{
  margin-left: 15px;
}
.ml-span1{
  color: #000;
}
.more{
  display: block;
  width: 1100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #e3e3e3;
  border-top: none;
  color: #657180;
}
.more:hover{
  color: #657180;
}
.more img{
  margin-left: 4px;
  margin-bottom: 1px;
}
.nev-div-i{
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nev-div-j{
  width: 1200px;
  height: 530px;
  margin-top: 20px;
  background-color: #fafafa;
}
.nev-div-i-span{
  font-size: 16px;
  color: #ff7700;
}
.nev-div-j ul{
  width: 1200px;
  height: 530px;
  padding: 24px 39.5px;
}
.nev-div-j ul li{
  width: 150px;
  height: 200px;
  text-align: center;
  font-size: 14px;
  float: left;
  margin: 16px 36.5px;
}
.nev-div-j ul li span{
  display: block;
  width: 150px;
  height: 25px;
  line-height: 25px;
}
.nev-div-j ul li label{
  color: #ff0000;
}
.nev-div-h-li-f .kl a{
  color: #4AB300;
}
.nev-div-h ul .nev-div-h-li-g button{
  background: #FFC966;
  color: #ffffff;
}
.nev-div-h-li-a-div span{
  line-height: 27px;
}
</style>
<template>
<div class='nav'>
  <Y-Nav :nev_vlues="nev_vlues" />
  <div class="nav-contnet">
    <div class="nav-left">
      <ul>
        <li><a href="#">全部功能</a></li>
        <li><a href="#">我的订单</a></li>
        <li><a href="#">我的购物车</a></li>
        <li><a href="#">我的收藏</a></li>
        <li><a href="#">评价管理</a></li>
        <li><a href="#">我的收货地址</a></li>
      </ul>
    </div>
    <div class="nav-right">
      <div class="PersonalAssets">
        <div class="Nickname">
          <img src="/static/images/logo (2).png">
          <span class="nkname">
            <label>{{Nickname}}</label><br>
            <a>{{shop}}</a>
          </span>
         </div>
        <div class="OrderInformation">
          <ul>
            <li class="oili"><a><span><img src="/static/images/dfk.png"></span><label>待付款&nbsp;0</label></a></li>
            <li><a><span><img src="/static/images/dfh.png"></span><label>待发货&nbsp;0</label></a></li>
            <li class="oili"><a><span><img  src="/static/images/dsh.png"></span><label>待收货&nbsp;0</label></a></li>
            <li><a><span><img src="/static/images/dpj.png"></span><label>待评价&nbsp;0</label></a></li>
          </ul>
         </div>
        <div class="Coupon">
          <span>积分：{{integral}}</span>
          <span>优惠卷：{{coupon}}</span>
         </div>
      </div>
      <div class="MyLogistics">
        <span class="ml">我的物流</span>
        <ul>
          <li>
            <img src="/static/images/tz.png">
            <div>
              <span class="ml-span1">您已在工作华南西路完成取件，感谢使用菜鸟驿站。期待再次为您服务。</span>
              <span class="ml-span">{{logisticstime}}<a>查看物流明细</a></span>
            </div>
          </li>
          <li>
            <img src="/static/images/tz.png">
            <div>
              <span class="ml-span1">杭州转运中心已发出，下一站&nbsp;&nbsp;广州转运中心</span>
              <span class="ml-span">{{logisticstime}}<a>查看物流明细</a></span>
            </div>
          </li>
          <li>
            <img src="/static/images/tz.png">
            <div>
              <span class="ml-span1">浙江省杭州市滨江区高新公司&nbsp;&nbsp;已发出，下一站&nbsp;&nbsp;杭州转运公司</span>
              <span class="ml-span">{{logisticstime}}<a>查看物流明细</a></span>
            </div>
          </li>
        </ul>
        <a class="more">
          <span>展开更多信息<img src="/static/images/jt.png"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="nev-div-i">
      <span class="nev-div-i-span">猜你喜欢</span>
      <div class="nev-div-j">
        <ul>
          <li>
            <img :src="images.image1">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>18.80</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li>
          <li>
            <img :src="images.image2">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>39.90</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li><li>
            <img :src="images.image2">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>29.90</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li><li>
            <img :src="images.image4">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>45.80</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li><li>
            <img :src="images.image5">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>35.80</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li>
          <li>
            <img :src="images.image1">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>18.80</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li>
          <li>
            <img :src="images.image2">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>39.90</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li><li>
            <img :src="images.image2">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>29.90</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li><li>
            <img :src="images.image4">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>45.80</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li><li>
            <img :src="images.image5">
            <span>
              <label style="font-size:12px;">￥</label>
              <label>35.80</label></span>
            <span style="text-align:left;">新鲜水果次日达包邮...</span>
          </li>
         </ul>
       </div>
    </div>
  <y-footer></y-footer>
</div>
</template>
<script>
import YNav from '/components/NavigationHeader'
import YFooter from '/components/Footer'
export default {
  data: function () {
    return {
      nev_vlues: '我的善源',
      Nickname: '小小',
      shop: '尚品旗舰店',
      integral: 25,
      logisticstime: '2018-05-08 18:39:48',
      images: {
        image1: '/static/images/tao.jpg',
        image2: '/static/images/niuyouguo.jpg',
        image3: '/static/images/shuiguo.jpg',
        image4: '/static/images/pg.jpg',
        image5: '/static/images/chengzi.jpg'
      },
      coupon: 150
    }
  },
  components: {
    YNav,
     YFooter
  }
}
</script>
