<style scoped>
*{
  font-size: 14px;
}
.layout {
  min-width: 1400px;
  min-height: 700px;
  background: #f5f7f9;
  position: relative;
  overflow: hidden;
}
/* Form表单输入框描述 */
Input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.header {
  height: 83px;
  padding: 0px;
  background: #ffffff;
  border-bottom: 1px solid #cbcbcb;
}
#nev {
  width:85%;
  height: 54px;
  position: relative;
  top: 16px;
  margin:auto;
 }
.nev-logo {
  width: 54px;
  height: 54px;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  float: left;
}
.nev-span {
  float: right;
  margin-top: -25px;
}
.nev-span a {
  color: #ff7700;
}
.content{
  background: #ffffff;
  width: 100%;
  height: 500px;
}
.content-div{
  width: 85%;
  height: 100%;
  margin: auto;
}
.content-div-a{
  width: 70%;
  height: 100%;
  float: left;
 }
.content-div-b{
  width: 30%;
  height: 100%;
  float: left;
 }
.content-div-a-img{
  padding-top:60px;
  width: 65%;
  height: auto;
  display: block;
  margin: auto;
 }
.content-div-b-div{
  margin-top:45px;
  height: 62px;
  width:90%;
  }
  .content-div-b-div span{
    font-size:16px;
    font-weight:bold;
    float:left;
  }
  .content-div-b-div a{
    float:right;
  }
  .content-div-b-div-input{
    border-radius:none;
    width: 90%;
    font-size: 16px;
  }
  /**.content-name{
    background: url("/static/images/yhtubiao.png") no-repeat left;
    background-position:18px 15px;
  }
  .content-pwd{
    background: url("/static/images/mimatubiao.png") no-repeat left;
    background-position:18px 15px;
  }**/
  .content-icon{
    font-size: 25px;
  }
.content-button{
  width: 90%;
  height: 54px;
  background: #ff7700;
  border: 0px;
  margin-bottom: 20px;
  padding: 0px;
}
.content-formitem{
  margin-bottom: 15px;
  padding: 0px;
}
.content-formitem1{
  color: #808080;
  margin-bottom: 0px;
  padding: 0px;
}
.content-ckbox{
  margin: 0px;
  float: left;
}
.content-span{
  float: right;
  margin-right: 10%;
}
.content-span a{
  color: #808080;
}
.conent-icon{
  padding-top:0px;
  padding-left:10px;
  margin-bottom: 5px;
  height: 30px;
}
.conent_icons{
  visibility:hidden;
}

.conent-icon span{
  background: url("/static/images/tanhao.png") no-repeat left;
  padding-left: 20px;
  background-position:0px 6px;
  line-height:29px;
  font-size: 12px;
  font-weight: 500;
  color: #747474;
  width: 100%;
  height: 28px;
  }
</style>
<template>
    <div class="layout">
        <Layout>
          <y-header :nev_vlues="nev_vlues" :nev_span_vlues="nev_span_vlues"></y-header>
            <Content class="content">
              <div class="content-div">
                <div class="content-div-a"><img class="content-div-a-img" :src='itme'></div>
                <div class="content-div-b">
                   <div>
                     <Form ref="formInline" :model="formInline" :rules="ruleInline">

                      <div class="content-div-b-div">
                        <Alert class="conent-icon" :class="{conent_icons: isIcons}" type="warning"><span>账号和密码不匹配，请重新输入</span></Alert>
                        <div><span>用户登录</span><router-link :to="links.Register">注册新账号</router-link></div>
                       </div>
                      <FormItem prop="user" class="content-formitem">
                        <Input class="content-div-b-div-input" type="text" clearable v-model="formInline.user" placeholder="邮箱/手机/用户名">
                        <Icon type="android-person" class="content-icon" slot="prepend"></Icon>
                        </Input>
                      </FormItem>
                    <FormItem class="content-formitem1" prop="password">
                      <Input class="content-div-b-div-input" type="password" v-model="formInline.password" clearable placeholder="密码">
                      <Icon type="ios-locked" style="font-size:30px;" slot="prepend"></Icon>
                       </Input>
                     </FormItem>
                     <FormItem class="content-formitem1">
                       <Checkbox class="content-ckbox" v-model="single">自动登录</Checkbox><span class="content-span"><router-link :to="links.Retrieve">忘记密码了?</router-link></span>
                     </FormItem>
                     <FormItem>
                       <Button class="content-button content-formitem" type="primary" @click="handleSubmit('formInline')">登录</Button>
                       </FormItem>
                    </Form>
                    </div>
                </div>
              </div>
             </Content>
             <y-footer></y-footer>
        </Layout>
    </div>
</template>
<script>
import YHeader from '/components/Header'
import YFooter from '/components/Footer'
export default {
  data: function () {
    return {
      links: {
        Register: '/Register',
        Retrieve: '/Retrieve'
      },
      itme: ['/static/images/tupian.png'],
      nev_vlues: '',
      nev_span_vlues: '你好，欢迎光临！',
      isIcons: true,
      single: false,
      formInline: {
        user: '',
        password: ''
      },
      ruleInline: {
        user: [{
          required: true,
          inline: true,
          message: ' ',
          trigger: 'blur'
        }],
        password: [{
          required: true,
          inline: true,
          message: ' ',
          trigger: 'blur'
        }]
      }
    }
  },
  methods: {
    handleSubmit (name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$http.post('/user' + 'user/generalUserLogin', {
            userName: this.formInline.user,
            password: this.formInline.password
          }).then(
            function (res) {
            // 处理成功的结果
              if (res.data.code === '10000') {
                this.$router.push('/Index')
              } else {
                this.isIcons = false
              }
            }, function (res) {
            // 处理失败的结果
              this.isIcons = false
            }
          )
        } else {
          this.isIcons = false
        }
      })
    }
  },
  components: {
    YHeader,
    YFooter
  }
}
</script>
