<style scoped>
*{
  font-size: 14px;
}
#div-form{
  margin: auto;
  width: 330px;
  height: 400px;
}
/* Form表单输入框描述 */
Input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.nev-div {
  margin: auto;
  width: 690px;
  height: 400px;
}
.nev-div-a {
  width: 180px;
  height: 350px;
  float: left;
  margin: auto;
}
#div-form {
  margin: auto;
  width: 330px;
  float: left;
  text-align: center;
}
.form-div{
  margin-top: 85px;
}
.form-label {
  display:block;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  font-size: 16px;
}
.form-label-a{
  padding-right: 12px;
  color: #757575;
  line-height: 49px;
  text-align: right;
}
.form-label-a1{
  margin-top: 55.5px;
}
/*form表单*/
.content-formitem1{
  color: #808080;
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
}
.content-formitem1 span{
margin-left: 20px;
}
.content-formitem1 span a{
color: red;
}
.form-input{
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}
.form-input-a{
  margin-bottom: 0px;
}
.form-input-p{
  width: 195px;
  float: left;
}
.content-p-button{
  float: right;
  width: 125px;
  height: 50px;
  color: #ffffff;
  background: #636363;
  font-size: 14px;
  border: 0px;
}
.content-form-button{
  width: 100%;
  height: 50px;
  background: #ff7700;
  border: 0px;
  margin-bottom: 20px;
  font-size: 16px;
}
.content-formitem1-span1{
  font-size: 14px;
}
.labela{
  padding-left: 20px;
  padding-right: 10px;
  font-size: 12px;
}
.label1{
  padding-top: 6px;
  background: url("/static/images/zctubiao1.png") no-repeat left;
}
.label2{
  padding-top: 6px;
  background: url("/static/images/zctubiao2.png") no-repeat left;
}
.label3{
  line-height: 50px;
  background: url("/static/images/zctubiao3.png") no-repeat left;
}
.label4{
  line-height: 50px;
  background: url("/static/images/zctubiao4.png") no-repeat left;
}
.label5{
  line-height: 50px;
  background: url("/static/images/zctubiao5.png") no-repeat left;
}
.label6{
  line-height: 50px;
  background: url("/static/images/zctubiao6.png") no-repeat left;
}
.label7{
  line-height: 50px;
  background: url("/static/images/tongguo.png") no-repeat left;
}
.labelspan1{
  display: none;
}
.labelspan{
  font-size: 12px;
  color: #ff7700;
}
.spans{
  display: block;
  margin-right:10px;
  margin-top: 18px;
  width: 34px;
  height: 12px;
  background: #ffffff;
  float: left;
}
.span1{
  background: #FA6B4E;
}
.span2{
  background: #FAA44D;
}
.span3{
  background: #FAEC4D;
}
</style>
<template>
<div>
<y-header :nev_vlues="nev_vlues" :nev_span_vlues="nev_span_vlues"></y-header>
<div class="form-div">
     <div class="nev-div">
       <div class="nev-div-a">
         <!--<label class="form-label form-label-a">{{ formInline.username!="" || islabel==1 ? '用户名' : ''}}</label>-->
         <label class="form-label form-label-a">{{ formInline.telphone!="" || islabel==2 ? '手机号' : ''}}</label>
         <label class="form-label form-label-a">{{ formInline.smsver!="" || islabel==3 ? '短信验证码' : ''}}</label>
         <label class="form-label form-label-a">{{ formInline.password!="" || islabel==4 ? '设置密码' : ''}}</label>
         <label class="form-label form-label-a">{{ formInline.ispassword!="" || islabel==5 ? '确认密码' : ''}}</label>
         </div>
       <Form ref="formInline" :model="formInline" id="div-form">
         <!--<FormItem class="content-formitem1">
            <Input class="form-input"  v-model="formInline.username"
             :placeholder="placeholder.username" id="username" @on-focus="onfocus(1)" @on-blur="onblur()"></Input>
           </FormItem>-->
         <FormItem class="content-formitem1">
            <Input  class="form-input" v-model="formInline.telphone" :placeholder="placeholder.telphone" @on-focus="onfocus(2)" @on-blur="onblur()"></Input>
           </FormItem>
         <FormItem class="content-formitem1">
            <Input class="form-input form-input-p" v-model="formInline.smsver" :placeholder="placeholder.smsver"
            @on-focus="onfocus(3)" @on-blur="onblur()"></Input>
            <Button class="content-p-button" @click="getCode" :disabled="show" type="primary">
              {{verification1}}{{count}}{{verification2}}</Button>
           </FormItem>
         <FormItem class="content-formitem1">
            <Input class="form-input" type="password" v-model="formInline.password" :placeholder="placeholder.password"
             @on-focus="onfocus(4)" @on-blur="onblur()" @on-change="onchange()"></Input>
           </FormItem>
         <FormItem class="content-formitem1">
            <Input class="form-input form-input-a" type="password" v-model="formInline.ispassword" :placeholder="placeholder.ispassword"
             @on-focus="onfocus(5)" @on-blur="onblur()"></Input>
           </FormItem>
         <FormItem class="content-formitem1">
           <span class="content-formitem1-span1">点击注册，表示您同意<a>《服务协议及隐私声明》</a></span>
           </FormItem>
         <FormItem>
           <Button class="content-form-button" :disabled="btn" type="primary" @click="handleSubmit()">同意协议并注册</Button>
           <Modal v-model="isbtn" width="360">
            <p slot="header" style="color:#f60;">
            <Icon type="information-circled"></Icon>
            <span>提示</span>
            </p>
            <div style="text-align:center">
              <p style="font-size:16px;">{{SuccessText}}</p>
              <p></p>
            </div>
            <div slot="footer">
               <Button type="primary" size="large" @click="ok">登录</Button>
               <Button type="primary" size="large" @click="cancel">取消</Button>
            </div>
    </Modal>
           </FormItem>
         </Form>
       <div class="nev-div-a">
         <!--<label class="form-label labela" :class="{label1: isclass1 === 1,label2: isclass1 === 2,label7: isclass1 === 3}">{{labelIRex.username}}</label>-->
         <label class="form-label labela" :class="{label2: isclass2 === 1,label4: isclass2 === 2,label7: isclass2 === 3}">{{labelIRex.telphone}}
         <router-link class="labelspan" :class="{labelspan1:isclass2 !== 2}"  :to="links.Login">登录</router-link></label>
         <label class="form-label labela" :class="{label5: isclass3 === 1,label7: isclass3 === 2}">{{labelIRex.smsver}}</label>
         <label class="form-label labela" :class="{label1: isclass4 === 1,label4: isclass4 === 2,label6: isclass4 === 3,label7: isclass4 === 4,label2: isclass4 === 5}">{{labelIRex.password}}
           <span :class="{spans: isclass,span1: isclass6 === 1,span2: isclass6 === 2,span3: isclass6 === 3}"></span>
           <span :class="{spans: isclass,span2: isclass6 === 2,span3: isclass6 === 3}"></span>
           <span :class="{spans: isclass,span3: isclass6 === 3}"></span>{{spanText}}</label>
         <label class="form-label labela" :class="{label3: isclass5 === 1,label4: isclass5 === 2,label7: isclass5 === 3}">{{labelIRex.ispassword}}</label>
         </div>
     </div>
  </div>
<y-footer></y-footer>
</div>
</template>
<script>
import YHeader from '/components/Header'
import YFooter from '/components/Footer'
/*
var NameReg = /^[\u4e00-\u9fa5a-zA-Z0-9]{6,20}$/ // 用户名验证
*/
var TelReg = /^(13|15|18)\d{9}$/ // 手机号验证
var PwdReg = /^[a-zA-Z0-9]{6,20}$/ // 密码验证
var isPwdReg1 = /^[0-9]{6,20}$/ // 数字密码验证
var isPwdReg2 = /^[a-zA-Z]{6,20}$/ // 字母密码验证

export default {
  data () {
    return {
      show: false,
      btn: false,
      isbtn: false,
      count: '', // 时间
      timer: null, // 时间截
      islabel: 0, // 显示提示
      isclass1: 0, // 显示错误提示值1
      isclass2: 0, // 显示错误提示值2
      isclass3: 0, // 显示错误提示值3
      isclass4: 0, // 显示错误提示值4
      isclass5: 0, // 显示错误提示值5
      isclass6: 0, // 密码强度验证
      SuccessText: '',
      isclass: false,
      spanText: '',
      verification1: '获取验证码', // 获取验证码1
      verification2: '', // 获取验证码2
      nev_vlues: '欢迎注册', // top文本
      nev_span_vlues: '已有账号？', // top<a>标签文本
      links: {Login: '/Login'},
      formInline: { username: '', telphone: '', smsver: '', password: '', ispassword: '' },
      labelIRex: { username: '', telphone: '', smsver: '', password: '', ispassword: '' },
      placeholder: { username: '用户名', telphone: '手机号', smsver: '短信验证码', password: '设置密码', ispassword: '确认密码' }
    } // 表单数据
  },
  methods: {
    // 数据请求
    Register (data, url) {
      if (data.phone !== undefined && data.code === undefined) {
        this.$http.post(url, {
          'phone': data.phone
        }, {emulateJSON: true}).then(
          function (res) {
            // 处理成功的结果
            if (res.data.code === '10000') { // 短信验证码手机号
              console.log(res)
              return 1
            } else {
              return 2
            }
          }, function (res) {
            // 处理失败的结果
            return 3
          })
      } else if (data.code !== undefined) { // 短信验证码
        this.$http.post(url, {
          phone: data.phone,
          code: data.code
        }, {emulateJSON: true}).then(
          function (res) {
            // 处理成功的结果
            if (res.data.code === '10000') {
              console.log(res)
              return 1
            } else {
              return 2
            }
          }, function (res) {
            // 处理失败的结果
            return 3
          })
      } else {
        this.$http.post(url, {
          telePhone: data.telePhone,
          password: data.password
        }).then(
          function (res) {
            // 处理成功的结果
            if (res.data.code === '10000') {
              console.log(res)
              return 1
            } else {
              return 2
            }
          }, function (res) {
            // 处理失败的结果
            return 3
          })
      }
    },
    handleSubmit () {
      var user = {
        'telePhone': this.formInline.telphone,
        'password': this.formInline.password
      }
      var sms = this.Register(user, '/user' + 'user/generalUserRegister')
      if (sms === 1) {
        this.SuccessText = '注册成功'
        this.isbtn = true
      } else if (sms === 2) {
        this.SuccessText = '注册失败'
        this.isbtn = true
      } else {
        this.SuccessText = '服务器错误,注册失败'
        this.isbtn = true
      }
    },
    ok () {
      if (this.SuccessText === '注册成功') {
        this.$router.push('/Login')
      } else {
        this.isbtn = false
      }
    },
    cancel () {
      this.isbtn = false
    },
    // 获得焦点事件
    onfocus: function (value) {
      this.islabel = value
      /*
      if (this.islabel === 1) {
        if (this.formInline.username === '') {
          this.isclass1 = 1
          this.placeholder.username = ''
          this.labelIRex.username = '6-20位字符，可由英文、中文、数字组成'
        }
      }
      */
      if (this.islabel === 2) {
        this.placeholder.telphone = ''
      }
      if (this.islabel === 3) {
        this.placeholder.smsver = ''
      }
      if (this.islabel === 4) {
        if (this.formInline.password === '') {
          this.isclass4 = 1
          this.placeholder.password = ''
          this.labelIRex.password = '6-20位字符，可由英文、数字组成'
        }
      }
      if (this.islabel === 5) {
        if (this.formInline.ispassword === '') {
          this.isclass5 = 1
          this.placeholder.ispassword = ''
          this.labelIRex.ispassword = '请再次输入密码'
        }
      }
    },
    // 失去焦点事件
    onblur: function () {
      var user = ''
      var sms = 0
      /*
      if (this.islabel === 1) {
        if (NameReg.test(this.formInline.username)) {
          user = {
            'userName': this.formInline.username
          }
          if (!this.Register(user, '/user' + 'user/getUserName')) {
            this.isclass1 = 3
            this.labelIRex.username = ''
          } else {
            this.isclass1 = 2
            this.labelIRex.username = '您的用户名已存在，请重新输入'
          }
        } else {
          if (this.formInline.username === '') {
            this.isclass1 = 0
            this.placeholder.username = '用户名'
            this.labelIRex.username = ''
          } else {
            this.isclass1 = 2
            this.labelIRex.username = '6-20位字符，可由英文、中文、数字组成'
          }
        }
      } // 用户名验证
      */

      if (this.islabel === 2) {
        if (this.formInline.telphone === '') {
          this.isclass2 = 0
          this.placeholder.telphone = '手机号'
          this.labelIRex.telphone = ''
        } else {
          if (TelReg.test(this.formInline.telphone)) {
            user = {
              'telePhone': this.formInline.telphone
            }
            sms = this.Register(user, '/user' + 'user/getTelePhone')
            if (sms === 1) {
              this.isclass2 = 3
              this.labelIRex.telphone = ''
            } else if (sms === 2) {
              this.isclass2 = 2
              this.labelIRex.telphone = '手机号已存在，'
            } else {
              this.isclass2 = 1
              this.labelIRex.telphone = '服务器错误，验证失败'
            }
          } else {
            this.isclass2 = 1
            this.labelIRex.telphone = '格式错误，请输入正确的手机号'
          }
        }
      } // 手机号验证

      if (this.islabel === 3) {
        if (this.formInline.smsver !== '') {
          if (this.isclass3 !== 2) {
            user = {
              'phone': this.formInline.telphone,
              'code': this.formInline.smsver
            }
            sms = this.Register(user, '/message' + 'message/verificationSms')
            if (sms === 1) {
              this.isclass3 = 2
              this.labelIRex.smsver = ''
            } else if (sms === 2) {
              this.isclass3 = 1
              this.labelIRex.smsver = '验证码有误，请重新输入'
            } else {
              this.isclass3 = 1
              this.labelIRex.smsver = '服务器错误，验证失败'
            }
          }
        } else {
          this.isclass3 = 0
          this.placeholder.smsver = '短信验证码'
          this.labelIRex.smsver = ''
        }
      }// 短信验证

      if (this.islabel === 4) {
        if (this.formInline.password !== '') {
          this.isclass = false
          this.spanText = ''
          if (PwdReg.test(this.formInline.password)) {
            if (isPwdReg1.test(this.formInline.password)) {
              this.isclass4 = 2
              this.labelIRex.password = '密码不能全为数字'
            } else if (isPwdReg2.test(this.formInline.password)) {
              this.isclass4 = 2
              this.labelIRex.password = '密码不能全为英文'
            } else {
              this.isclass4 = 4
            }
          } else {
            this.isclass4 = 5
            this.labelIRex.password = '6-20位字符，可由英文、数字组成'
          }
        } else {
          this.isclass4 = 0
          this.placeholder.password = '设置密码'
          this.labelIRex.password = ''
        }
      }// 密码验证

      if (this.islabel === 5) {
        if (this.formInline.ispassword !== '') {
          if (this.formInline.password !== this.formInline.ispassword) {
            this.isclass5 = 2
            this.labelIRex.ispassword = '两次密码不一致'
          } else {
            this.labelIRex.ispassword = ''
            this.isclass5 = 3
          }
        } else {
          this.isclass5 = 0
          this.placeholder.ispassword = '确认密码'
          this.labelIRex.ispassword = ''
        }
      }// 密码确认

      this.islabel = 0
      var isnumber = this.isclass2 + this.isclass3 + this.isclass4 + this.isclass5
      if (isnumber >= 12) {
        this.btn = false
      } else {
        this.btn = true
      }
    },
    // 数据改变事件
    onchange: function () {
      var a = 0
      var b = 0
      var c = 0
      this.isclass4 = 3
      this.labelIRex.password = ''
      this.isclass = true
      if (this.formInline.password !== '') {
        if (/[a-z]/.test(this.formInline.password)) {
          a = 1
        }
        if (/\d/.test(this.formInline.password)) {
          b = 1
        }
        if (/[A-Z]/.test(this.formInline.password)) {
          c = 1
        }
        this.isclass6 = a + b + c
        if (this.isclass6 === 1) {
          this.spanText = '低'
        }
        if (this.isclass6 === 2) {
          this.spanText = '中'
        }
        if (this.isclass6 === 3) {
          this.spanText = '高'
        }
      } else {
        this.isclass6 = 0
        this.spanText = ''
        this.isclass = false
        this.isclass4 = 1
        this.labelIRex.password = '6-20位字符，可由英文、数字组成'
      }
    },
    // 倒计时
    getCode () {
      var sms = 0
      if (this.formInline.telphone !== '') {
        this.verification1 = '重新发送('
        this.verification2 = ')'
        const TIME_COUNT = 60
        var user = {
          'phone': this.formInline.telphone
        }
        sms = this.Register(user, '/message' + 'message/getSms')
        if (sms === 1) {
        } else if (sms === 2) {
          alert('短信验证码发送失败')
        } else {
          alert('短信验证码发送失败')
        }

        if (!this.timer) {
          this.count = TIME_COUNT
          this.show = true
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
              this.count--
            } else {
              this.show = false
              clearInterval(this.timer)
              this.timer = null
              this.verification1 = '重新发送'
              this.verification2 = ''
              this.count = ''
            }
          }, 1000)
        }
      } else {
        this.isclass2 = 1
        this.labelIRex.telphone = '格式错误，请输入正确的手机号'
      }
    }
  },
  components: {
    YHeader,
    YFooter
  }
}
</script>
