<style scoped>
.form-div {
  margin: auto;
  width: 1000px;
  height: 550px;
  border: 1px solid #cccccc;
  border-top: 2px solid #ff7700;
  border-bottom: 0px;
  margin-top: 85px;
}
/* 步骤条 */
.steps {
  margin: auto;
  width: 90%;
  margin-left: 83px;
}
.div-step {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
}
/* Form表单输入框描述 */
input:focus::-webkit-input-placeholder{
            text-indent: -999em;
            z-index: -20;
        }
.nev-div {
  margin: auto;
  width: 630px;
  height: 400px;
}
.nev-div-a {
  width: 150px;
  height: 350px;
  float: left;
  margin: auto;
}
#div-form {
  margin: auto;
  width: 330px;
  float: left;
  text-align: center;
}
.form-label {
  display:block;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  font-size: 14px;
}
.form-label-a{
  padding-right: 12px;
  color: #757575;
  line-height: 49px;
  text-align: right;
}
.form-label-a1{
  margin-top: 55.5px;
}

/* Form表单 */
.content-formitem1 {
  color: #636363;
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
}
.form-input {
  border: 1px solid #cccccc;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  font-size: 14px;
}
.form-input-in {
  margin-bottom: 20px;
}
.form-input-p {
  width: 195px;
  float: left;
}
.content-p-button {
  float: right;
  width: 125px;
  height: 50px;
  color: #ffffff;
  background: #636363;
  font-size: 14px;
  border: 0px;
}
.content-form-button {
  border-radius: 0px;
  width: 100%;
  height: 50px;
  background: #ff7700;
  border: 0px;
  margin-bottom: 20px;
  font-size: 16px;
}
.formbutton {
  width: 140px;
  height: 45px;
}
.formitem1 {
  display: none;
}
.form-p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
.form-span {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
.form-div-a {
  margin-bottom: 15px;
  background: url("/static/images/ckmark.png") no-repeat left;
  background-position: 60px -8px;
}
</style>
<template>
<div>
  <y-header :nev_vlues="nev_vlues" :nev_span_vlues="nev_span_vlues"></y-header>
  <div class="form-div">
    <div class="steps div-step">
      <Steps :current="current"  class="steps">
        <Step title="填写用户名"></Step>
        <Step title="验证身份"></Step>
        <Step title="设置新密码"></Step>
        <Step title="完成"></Step>
       </Steps>
     </div>
    <div class="nev-div">
       <div class="nev-div-a">
         <label class="form-label form-label-a" :class="{formitem1:isform!==1}">{{ form.username!="" || islabel!=0 ? '用户名' : ''}}</label>
         <label class="form-label form-label-a form-label-a1" :class="{formitem1:isform!==2}">{{ form.smsver!="" || islabel!=0 ? '短信验证码' : ''}}</label>
         <label class="form-label form-label-a" :class="{formitem1:isform!==3}">{{ form.password!="" || islabel!=0 ? '设置密码' : ''}}</label>
         <label class="form-label form-label-a" :class="{formitem1:isform!==3}">{{ form.ispassword!="" || islabel1!=0 ? '确认密码' : ''}}</label>
       </div>
         <Form :model="form" id="div-form">
            <FormItem class="content-formitem1" :class="{formitem1:isform!==1}"><!--当isform等于1时，移除样式formitem1-->
              <input class="form-input form-input-in" v-model="form.username" placeholder="用户名"
               @focus="onfocus('')" @blur="onblur('')"></input>
             </FormItem>
            <FormItem class="content-formitem1" :class="{formitem1:isform!==2}">
              <p class="form-p">请点击获取验证码并在手机：{{PhoneNumber}}中查看短信，并填写验证码</p>
              <input class="form-input form-input-p" v-model="form.smsver" placeholder="短信验证码"
               @focus="onfocus('')" @blur="onblur('')"></input>
              <Button class="content-p-button" @click="getCode" type="primary">{{verification1}}{{count}}{{verification2}}</Button>
             </FormItem>
            <FormItem class="content-formitem1" :class="{formitem1:isform!==3}">
              <input class="form-input" v-model="form.password" placeholder="设置密码"
               @focus="onfocus('')" @blur="onblur('')"></input>
             </FormItem>
            <FormItem class="content-formitem1" :class="{formitem1:isform!==3}">
              <input class="form-input" v-model="form.ispassword" placeholder="确认密码"
               @focus="onfocus('1')" @blur="onblur('1')"></input>
             </FormItem>
            <div class="content-formitem1 form-div-a" :class="{formitem1:isform!==4}">
              <span class="form-span">新密码设置成功!<br/>请您牢记新密码&nbsp;</span>
             </div>
            <FormItem>
              <Button class="content-form-button" :class="{formbutton:isform===4}" type="primary" @click="next">{{nextbtn}}</Button>
             </FormItem>
           </Form>
       <div class="nev-div-a">
         <label class="form-label" :class="{formitem1:isform!==1}"></label>
         <label class="form-label" :class="{formitem1:isform!==2}"></label>
         <label class="form-label" :class="{formitem1:isform!==3}"></label>
         <label class="form-label" :class="{formitem1:isform!==3}"></label>
       </div>
     </div>
   </div>
  <y-footer></y-footer>
 </div>
</template>
<script>
import YHeader from '/components/Header'
import YFooter from '/components/Footer'
export default {
  data () {
    return {
      PhoneNumber: '136****9999',
      islabel: 0,
      islabel1: 0,
      isform: 1,
      current: 0,
      nextbtn: '下一步',
      // 倒计时-
      count: '',
      timer: null,
      verification1: '获取验证码',
      verification2: '',
      // ------
      nev_vlues: '找回密码',
      nev_span_vlues: '您好，欢迎光临！',
      form: { username: '', smsver: '', password: '', ispassword: '' },
      label: { username: '', smsver: '', password: '', ispassword: '' }
    }
  },
  methods: {
    next () {
      if (this.isform >= 3) {
        this.nextbtn = '立即购物'
        this.isform = 4
      } else {
        this.isform += 1
      }
      if (this.current >= 3) {
      } else {
        this.current += 1
      }
    },
    onfocus (value) {
      if (value === '1') {
        this.islabel1 = 1
      } else {
        this.islabel = 1
      }
    },
    onblur (value) {
      if (value === '1') {
        this.islabel1 = 0
      } else {
        this.islabel = 0
      }
    },
    // 倒计时
    getCode () {
      this.verification1 = '重新发送('
      this.verification2 = ')'
      const TIME_COUNT = 60
      if (!this.timer) {
        this.count = TIME_COUNT
        this.show = false
        this.timer = setInterval(() => {
          if (this.count > 0 && this.count <= TIME_COUNT) {
            this.count--
          } else {
            this.show = true
            clearInterval(this.timer)
            this.timer = null
            this.verification1 = '重新发送'
            this.verification2 = ''
            this.count = ''
          }
        }, 1000)
      }
    }
  },
  components: {
    YHeader,
    YFooter
  }
}
</script>
