<style scoped>
*{
    margin: 0;
    padding: 0;
}
.up{
    height: 1000px;
}
.uploading{
    width: 100%;
    height: 25px;
    /* border: 1px solid red; */
    background: #F5F5F5;
}
.uploading .uploading_a{
    margin: 0 auto;
    width: 1200px;
}
.uploading .uploading_a a{
    margin-top: 3px;
    font-size: 14px;
    color:#6D6D6D;
    float:right;
}
.uploading .uploading_a .uploading_b{
    border-right:1px solid  #6D6D6D;
    padding: 0px 4px 0px 5px;
}
.uploading .uploading_a .uploading_c{
    border-right:1px solid  #6D6D6D;
    padding: 0px 4px 0px 5px;
}
.uploading_h{
     width: 1200px;
     height: 110px;
     margin: 0 auto;
     /* border:1px solid red; */
     border-bottom: 2px solid #DDDDDE;
}
.uploading_h img{
    margin-top: 25px;
    position: relative;
}
.uploading_h h3{
    display: inline-block;
    font-size: 16px;
    color: #4E4E4E;
    position: absolute;
    margin-top: 40px;
    margin-left: 15px;

}
.uploading-g{
    width: 1200px;
    margin: 0 auto;
}
.uploading-g .zt{
    margin: 0 auto;
    text-align: center;
    margin-top: 55px;
}
.uploading-g .zt span{
    color:black;
}
.uploading-g .zt span input{
    width: 500px;
    height: 30px;
    border:2px solid #4AB300;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}
.uploading-g .zt span button{
    background: #4AB300;
    color: #ffffff;
    border: none;
    height: 30px;
    padding: 3px 0px 0px 0px ;
    border-radius: 0px 5px 5px 0px;
}
.content{
    margin: 0px auto;
    margin-left: 204px;
    margin-top: 20px;
}
.content span{
    color: black;
}
.content span select{
    width:480px;
    height:26px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("/static/images/mmexp.jpg") no-repeat right center;
    font-size:16px;
    font-family:Microsoft YaHei;
    border: 1px solid #4AB300;
    outline: none;
}
.uploading-s{
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.uploading-s .uploading-l{
    width: 1144px;
    height: 330px;
    /* border: 1px solid black; */
}
.uploading-s .uploading-l .zuobian{
    width: 914px;
    height: 330px;
    /* border: 1px solid blue; */
    background:#F8F8F8;
    float: left;
}
.uploading-s .uploading-l .zuobian h3{
    font-size: 14px;
    color: #3F3F3F;
    margin-left: 22px;
}
.uploading-s .uploading-l .zuobian h3 span{
    color: #C4C4C4;
}
.uploading-s .uploading-l .zuobian .classification{
    margin-top: 0px;
    width: 865px;
    margin: 0 auto;
    background: #ffffff;
}
.uploading-s .uploading-l .zuobian .classification ul li{
    margin-top: 5px;
    margin-left: 30px;
}
.uploading-s .uploading-l .zuobian .classification ul li:hover{
    cursor:pointer;
    background: #4AB300;
    color: #ffffff;
}
.uploading-s .uploading-l .youbian{
    width: 230px;
    height: 330px;
    border: 1px solid #ECECEC;
    float:right;
}
.uploading-s .uploading-l .youbian span{
    display: block;
    font-size: 14px;
    margin-left: 22px;
    margin-top: 12px;
}
.uploading-s .uploading-l .youbian img{
    width: 83px;
    height: 82px;
    border: 1px solid #C4C4C4;
    margin-left: 20px;
    margin-top: 10px;
}
.uploading-u{
    width: 1200px;
    margin: 0px auto;
}
.uploading-u button{
    display: block;
    width: 200px;
    height: 40px;
    margin: 0px auto;
    background: #4AB300;
    border: none;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}
</style>

<template>
<!-- 导航条 -->
    <div class="up">
        <div class="uploading">
            <div class="uploading_a">
                <a>我的订单</a>
                <a class="uploading_b">注册</a>
                <a class="uploading_c">登录</a>
            </div>
        </div>
        <div class="uploading_h">
            <img src="/static/images/logo.png">
            <h3>商品上传</h3>
        </div>
        <div class="uploading-g">
            <div class="zt">
                <span>类目搜索：<input type="text" value="水果"><button disabled="disabled">快速找到项目</button></span>
            </div>
            <div class="content">
                <span>您最近使用的项目:
                    <select>
                        <option value="请选择">请选择</option>
                        <option value="请选择">雷棋</option>
                        <option value="请选择">唐小顺</option>
                        <option value="请选择">赵敬</option>
                        <option value="请选择">小糖糖</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="uploading-s">
            <div class="uploading-v">
                <div class="uploading-l">
                    <div class="zuobian">
                        <h3>匹配到10个类目<span>（双击直接发布，括号中为该类目下相关商品的数量）</span></h3>
                        <div class="classification">
                            <ul>
                            <li>1.水产肉类/新鲜蔬果/熟食>>新鲜水果>>其他</li>
                            <li>2.水产肉类/新鲜蔬果/熟食>>新鲜水果>>芒果</li>
                            <li>3.水产肉类/新鲜蔬果/熟食>>新鲜水果>>橙子</li>
                            <li>4.水产肉类/新鲜蔬果/熟食>>新鲜水果>>其他</li>
                            <li>5.水产肉类/新鲜蔬果/熟食>>新鲜水果>>芒果</li>
                            <li>6.水产肉类/新鲜蔬果/熟食>>新鲜水果>>橙子</li>
                            <li>7.水产肉类/新鲜蔬果/熟食>>新鲜水果>>其他</li>
                            <li>8.水产肉类/新鲜蔬果/熟食>>新鲜水果>>芒果</li>
                            <li>9.水产肉类/新鲜蔬果/熟食>>新鲜水果>>橙子</li>
                            <li>10.水产肉类/新鲜蔬果/熟食>>新鲜水果>>其他</li>
                        </ul>
                        </div>
                    </div>
                    <div class="youbian">
                        <span>该类目下商品示例</span>
                        <img src="/static/images/huolongguo.png">
                        <img src="/static/images/huolongguo.png">
                        <img src="/static/images/huolongguo.png">
                        <img src="/static/images/huolongguo.png">
                        <img src="/static/images/huolongguo.png">
                        <img src="/static/images/huolongguo.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="uploading-u">
            <button>
                <span>现在发布商品</span>
                </button>
        </div>
    </div>
</template>

<script>
</script>
